In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from Drive import *

In [25]:
# Downloads the file from Gdrive
def fileDownloader():
    """Downloads Student Gradebook.xlsx from GDrive"""
    auth=GDriveAuthenticator.GDriveAuthenticator('Drive\\client_secret.json')
    drive=Gdrive.Gdrive(auth.authenticate())
    drive.download()

In [6]:
# imports the data and merges into one dataframe and returns it
def data_importer():
    """imports the data and merges into one dataframe and returns it"""
    excel_sheet=pd.read_excel('Student Gradebook.xlsx',sheet_name=None,usecols=range(0,10))
    data_july=excel_sheet['July'].copy()
    data_august=excel_sheet['August'].copy()
    data=pd.concat([data_july,data_august]).reset_index().drop(columns=['index'])
    del data_july
    del data_august
    return data

In [8]:
def mydayCleaner(data):
    idx=np.array([])
    for date,month in zip(data['Date'].values,data['Month'].values):
        date_mask=data['Date']==date
        month_mask=data['Month']==month
        task_mask=data['Task']=='AjKyaUkhada'
        d=data[date_mask & month_mask & task_mask].sort_values('Student')
        idx=np.append(idx,d[d.duplicated(subset=['Student'],keep='last')].index)
    data.drop(idx,inplace=True)
    return data

In [19]:
def knowledgeSharingCleaner(data):
    idx=np.array([])
    knowledge_sharing_days={'Monday':['Kunal','Bhavna','Apurwa'],\
                       'Tuesday':['Chandrima','Purbita','Prasoon'],\
                        'Wednesday':['Roumyak','Kaushal','Ujjainee'],\
                       'Thursday':['Siddhishikha','Dipam','Shakib'],\
                        'Friday':['Sonali','Durga','Sonali'],\
                       'Saturday':['Swaastick','Sharika','Vishal'],\
                       'Sunday':['Anjali','Arya','Surabhi']} 
    date_month_dayname_unique=data[['Date','Month','DayName']].drop_duplicates()
    for date,month,dayname in zip(date_month_dayname_unique['Date'].values.tolist(),date_month_dayname_unique['Month'].values.tolist(),date_month_dayname_unique['DayName'].values.tolist()):
        dateMask=data['Date']==date
        monthMask=data['Month']==month
        daynameMask=data['DayName']==dayname
        taskMask=data['Task']=='Knowledge Sharing'
        temp=data[dateMask & monthMask & daynameMask & taskMask]

        # Below for loop filters out those rows for which students and daynames dont match
        # Example:- if dipam posts on gyan on monday, then he wont be given marks
        for index,name in zip(temp.Student.index,temp.Student.values):
            if name not in knowledge_sharing_days[dayname]:
                idx=np.append(idx,index)
        # After the first loop is run (description given on top), now it's time to filter out
        # those who put more than one post in gyan channel on the same day
        idx=np.append(idx,temp[temp.duplicated(subset=['Student'],keep='last')].index)
    data.drop(idx,inplace=True)
    return data

In [20]:
def data_cleaner(data):
    """This method will clean the data thoroughly and return the cleaned dataframe"""
    data=data.dropna(how='all',axis=0)
    data.replace('Ajkyaukhada','AjKyaUkhada',inplace=True)
    data['Date']=pd.to_datetime(data['Date'],errors='ignore',infer_datetime_format=True,dayfirst=True)
    data.dropna(subset=['Student'],inplace=True)
    data.replace('Swaastik','Swaastick',inplace=True)
    data.replace('Sushree','Siddhishikha',inplace=True)
    niteshIndex=data[data['Student']=='Nitish'].index
    data.drop(niteshIndex,inplace=True)
    data['Month']=data['Date'].dt.month_name()
    data['Year']=data['Date'].dt.year
    data['DayName']=data['Date'].dt.weekday_name
    data['Date']=data['Date'].dt.day
    data=mydayCleaner(data)
    data=knowledgeSharingCleaner(data)
    del niteshIndex
    return data

In [21]:
data=data_importer()

In [22]:
data.shape

(1135, 10)

In [23]:
data=data_cleaner(data)

In [24]:
data.shape

(978, 13)

In [38]:
data

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner,Month,Year,DayName
0,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Chandrima,0,6.0,10,0,July,2019,Monday
1,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Dipam,0,7.0,10,0,July,2019,Monday
2,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Durga,0,6.0,10,0,July,2019,Monday
3,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Kaushal,0,7.0,10,0,July,2019,Monday
4,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Arya,0,6.0,10,0,July,2019,Monday
5,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Kunal,0,8.0,10,0,July,2019,Monday
6,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Prasoon,0,5.0,10,0,July,2019,Monday
7,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Purbita,0,6.0,10,0,July,2019,Monday
8,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Roumyak,0,6.0,10,0,July,2019,Monday
9,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Shakib,0,6.0,10,0,July,2019,Monday
10,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Sharika,1,6.5,10,0,July,2019,Monday
11,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Siddhishikha,0,6.0,10,0,July,2019,Monday
12,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Swaastick,0,7.5,10,1,July,2019,Monday
13,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Surabhi,0,6.0,10,0,July,2019,Monday
14,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Ujjainee,0,7.0,10,0,July,2019,Monday
15,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Vishal,0,6.0,10,0,July,2019,Monday
16,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Wrick,0,6.0,10,0,July,2019,Monday
17,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Apurwa,1,6.0,10,0,July,2019,Monday
18,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Sonali,1,6.5,10,0,July,2019,Monday
19,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Shantanu,0,7.0,10,0,July,2019,Monday
20,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Sudhanshu,1,6.5,10,0,July,2019,Monday
21,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Anjali,0,7.0,10,0,July,2019,Monday
22,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Bhavna,0,9.0,10,0,July,2019,Monday
23,0,AjKyaUkhada,22,Ritual,Consistency,Prasoon,0,2.0,2,0,July,2019,Monday
24,0,AjKyaUkhada,22,Ritual,Consistency,Kunal,0,2.0,2,0,July,2019,Monday
25,0,AjKyaUkhada,22,Ritual,Consistency,Purbita,0,2.0,2,0,July,2019,Monday
26,0,AjKyaUkhada,22,Ritual,Consistency,Siddhishikha,0,2.0,2,0,July,2019,Monday
27,0,AjKyaUkhada,22,Ritual,Consistency,Durga,0,2.0,2,0,July,2019,Monday
28,0,AjKyaUkhada,22,Ritual,Consistency,Surabhi,0,2.0,2,0,July,2019,Monday
29,0,AjKyaUkhada,22,Ritual,Consistency,Shakib,0,2.0,2,0,July,2019,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095,0,AjKyaUkhada,8,Ritual,Consistency,Chandrima,0,2.0,2,0,September,2019,Sunday
1096,0,AjKyaUkhada,8,Ritual,Consistency,Siddhishikha,0,2.0,2,0,September,2019,Sunday
1099,0,AjKyaUkhada,8,Ritual,Consistency,Durga,0,2.0,2,0,September,2019,Sunday
1100,0,AjKyaUkhada,8,Ritual,Consistency,Sharika,0,2.0,2,0,September,2019,Sunday
1102,0,AjKyaUkhada,8,Ritual,Consistency,Surabhi,0,2.0,2,0,September,2019,Sunday
1103,0,AjKyaUkhada,8,Ritual,Consistency,Dipam,0,2.0,2,0,September,2019,Sunday
1104,0,AjKyaUkhada,8,Ritual,Consistency,Shakib,0,2.0,2,0,September,2019,Sunday
1105,0,AjKyaUkhada,8,Ritual,Consistency,Apurwa,0,2.0,2,0,September,2019,Sunday
1106,0,AjKyaUkhada,8,Ritual,Consistency,Bhavna,0,2.0,2,0,September,2019,Sunday
1107,0,AjKyaUkhada,8,Ritual,Consistency,Shantanu,0,2.0,2,0,September,2019,Sunday
1108,0,AjKyaUkhada,9,Ritual,Consistency,Sonali,0,2.0,2,0,September,2019,Monday
1112,0,AjKyaUkhada,9,Ritual,Consistency,Ujjainee,0,2.0,2,0,September,2019,Monday
1114,0,AjKyaUkhada,9,Ritual,Consistency,Surabhi,0,2.0,2,0,September,2019,Monday
1115,0,Knowledge Sharing,9,Ritual,"Consistency,Curiosity",Bhavna,0,2.0,2,0,September,2019,Monday
1116,0,AjKyaUkhada,9,Ritual,Consistency,Bhavna,0,2.0,2,0,September,2019,Monday
1117,0,AjKyaUkhada,9,Ritual,Consistency,Purbita,0,2.0,2,0,September,2019,Monday
1118,0,AjKyaUkhada,9,Ritual,Consistency,Kunal,0,2.0,2,0,September,2019,Monday
1119,0,AjKyaUkhada,9,Ritual,Consistency,Dipam,0,2.0,2,0,September,2019,Monday
1120,0,AjKyaUkhada,9,Ritual,Consistency,Durga,0,2.0,2,0,September,2019,Monday
1121,0,AjKyaUkhada,9,Ritual,Consistency,Chandrima,0,2.0,2,0,September,2019,Monday
1122,0,Knowledge Sharing,9,Ritual,"Consistency,Curiosity",Kunal,0,2.0,2,0,September,2019,Monday
1123,0,AjKyaUkhada,9,Ritual,Consistency,Shantanu,0,2.0,2,0,September,2019,Monday
1125,0,AjKyaUkhada,9,Ritual,Consistency,Shakib,0,2.0,2,0,September,2019,Monday
1126,0,AjKyaUkhada,9,Ritual,Consistency,Kaushal,0,2.0,2,0,September,2019,Monday
1127,0,AjKyaUkhada,9,Ritual,Consistency,Vishal,0,2.0,2,0,September,2019,Monday
1129,0,AjKyaUkhada,9,Ritual,Consistency,Prasoon,0,2.0,2,0,September,2019,Monday
1131,0,AjKyaUkhada,9,Ritual,Consistency,Apurwa,0,2.0,2,0,September,2019,Monday
1132,0,AjKyaUkhada,10,Ritual,Consistency,Sharika,0,2.0,2,0,September,2019,Tuesday
1133,0,Knowledge Sharing,10,Ritual,"Consistency,Curiosity",Purbita,0,2.0,2,0,September,2019,Tuesday
1134,0,Knowledge Sharing,10,Ritual,"Consistency,Curiosity",Chandrima,0,2.0,2,0,September,2019,Tuesday

In [108]:
def get_myday(name,data,month_name=None):
    if month_name==None:
        myday='AjKyaUkhada'
        myday_marks=data[data['Task']==myday].groupby('Student')['Points'].sum().sort_values(ascending=False).reset_index()
        temp=myday_marks[myday_marks['Student']==name]['Points'].values
        if len(temp)>0:
            return temp[0]
        else:
            return None
    else:
        myday='AjKyaUkhada'
        myday_marks=data[(data['Task']==myday) & (data['Month']==month_name)].groupby('Student')['Points'].sum().sort_values(ascending=False).reset_index()
        temp=myday_marks[myday_marks['Student']==name]['Points'].values
        if len(temp)>0:
            return temp[0]
        else:
            return None

In [109]:
def get_task(name,data,month_name=None):
    knowledge='Knowledge Sharing'
    myday='AjKyaUkhada'
    if month_name==None:
        task_marks=data[(data['Task']!=knowledge) & (data['Task']!=myday)].groupby('Student')['Points'].\
        sum().sort_values(ascending=False).reset_index()
        temp=task_marks[task_marks['Student']==name]['Points'].values
        if len(temp)>0:
            return temp[0]
        else:
            return None
    else:
        task_marks=data[(data['Task']!=knowledge) & (data['Task']!=myday) & (data['Month']==month_name)].groupby('Student')['Points'].\
        sum().sort_values(ascending=False).reset_index()
        temp=task_marks[task_marks['Student']==name]['Points'].values
        if len(temp)>0:
            return temp[0]
        else:
            return None

In [110]:
def get_gyan(name,data,month_name=None):
    if month_name==None:
        knowledge_marks=data[data['Task']=='Knowledge Sharing'].groupby('Student')['Points'].sum().sort_values(ascending=False).\
        reset_index()
        temp=knowledge_marks[knowledge_marks['Student']==name]['Points'].values
        if len(temp)>0:
            return temp[0]
        else:
            return None
    else:
        knowledge_marks=data[(data['Task']=='Knowledge Sharing') & (data['Month']==month_name)].groupby('Student')['Points'].sum().sort_values(ascending=False).\
        reset_index()
        temp=knowledge_marks[knowledge_marks['Student']==name]['Points'].values
        if len(temp)>0:
            return temp[0]
        else:
            return None

In [111]:
# Total marks function (whole)
def total_marks_leaderboard(data,month_name=None):
    if month_name==None:
        total_marks=data.groupby('Student')['Points'].sum().sort_values(ascending=False).reset_index()
        total_marks.rename(columns={'Points':'Total Points'})
        total_marks['Task Marks']=total_marks['Student'].apply(get_task,args=[data])
        total_marks['MyDay Marks']=total_marks['Student'].apply(get_myday,args=[data])
        total_marks['Knowledge Sharing Marks']=total_marks['Student'].apply(get_gyan,args=[data])
    else:
        temp=data[data['Month']==month_name]
        total_marks=data[data['Month']==month_name].groupby('Student')['Points'].sum().sort_values(ascending=False).reset_index()
        total_marks.rename(columns={'Points':'Total Points'})
        total_marks['Task Marks']=total_marks['Student'].apply(get_task,args=[temp,month_name])
        total_marks['MyDay Marks']=total_marks['Student'].apply(get_myday,args=[temp,month_name])
        total_marks['Knowledge Sharing Marks']=total_marks['Student'].apply(get_gyan,args=[temp,month_name])
    return total_marks

In [115]:
total_marks_leaderboard(data)

         Student  Points  Task Marks  MyDay Marks  Knowledge Sharing Marks
0          Kunal   252.5       150.5         96.0                      6.0
1       Ujjainee   248.5       146.5         94.0                      8.0
2         Shakib   239.5       141.5         90.0                      8.0
3        Surabhi   239.5       143.5         94.0                      2.0
4        Purbita   236.5       142.5         86.0                      8.0
5         Vishal   231.5       139.5         90.0                      2.0
6      Chandrima   227.0       125.0         92.0                     10.0
7         Sonali   224.5       136.5         80.0                      8.0
8          Dipam   221.5       125.5         94.0                      2.0
9        Sharika   218.5       128.5         88.0                      2.0
10  Siddhishikha   218.0       130.0         82.0                      6.0
11         Durga   216.5       122.5         90.0                      4.0
12        Apurwa   208.5       130.5         78.0                      NaN
13       Kaushal   204.0       124.0         78.0                      2.0
14     Swaastick   192.5       134.5         58.0                      NaN
15       Roumyak   178.5       132.5         46.0                      NaN
16       Prasoon   174.5       116.5         54.0                      4.0
17      Shantanu   163.5       135.5         28.0                      NaN
18          Arya   155.5       137.5         18.0                      NaN
19        Bhavna   114.0        90.0         20.0                      4.0
20         Wrick    60.5        46.5         14.0                      NaN
21        Anjali    50.0        50.0          NaN                      NaN
22     Sudhanshu     8.5         6.5          2.0                      NaN

In [114]:
total_marks_leaderboard(data,month_name='August')

         Student  Points  Task Marks  MyDay Marks  Knowledge Sharing Marks
0          Kunal   126.5        60.5         62.0                      4.0
1       Ujjainee   126.0        60.0         60.0                      6.0
2        Surabhi   122.0        58.0         62.0                      2.0
3         Shakib   121.5        57.5         58.0                      6.0
4      Chandrima   120.0        52.0         62.0                      6.0
5         Vishal   120.0        58.0         60.0                      2.0
6        Purbita   115.0        57.0         54.0                      4.0
7          Dipam   111.0        51.0         60.0                      NaN
8          Durga   110.5        48.5         58.0                      4.0
9   Siddhishikha   110.5        52.5         54.0                      4.0
10        Sonali   110.0        54.0         50.0                      6.0
11       Sharika   108.0        50.0         56.0                      2.0
12       Kaushal   100.5        46.5         52.0                      2.0
13        Apurwa   100.0        50.0         50.0                      NaN
14     Swaastick    89.0        53.0         36.0                      NaN
15       Roumyak    82.0        54.0         28.0                      NaN
16       Prasoon    68.0        34.0         32.0                      2.0
17      Shantanu    64.0        50.0         14.0                      NaN
18          Arya    62.5        56.5          6.0                      NaN
19        Bhavna    20.0        14.0          6.0                      NaN
20        Anjali     5.0         5.0          NaN                      NaN
21         Wrick     2.0         NaN          2.0                      NaN

In [75]:
def student_task_marks(data,name=None,monthWise=False,month_name=None):
    """Returns the task and points of the given student name in DataFrame
    Arguments:
        data: dataframe from which marks need to be extracted
        name: name of the student, only the first name and first letter capital.
        monthWise: default: False
                    set to True if dataframe needed only for a particular month
        month_name: default None.
                    if monthWise True and month_name is name of the month then
                    Dataframe of that particular month is given.
                    
    Returns:
        dataframe
    """
    if name==None:
        raise ValueError('Input a Name')
    if monthWise==True and month_name!=None:
        task_marks=data[(data['Task']!='Knowledge Sharing') & (data['Task']!='AjKyaUkhada') & (data['Student']==name) & \
                       (data['Month']==month_name)]
    elif monthWise==False:
        task_marks=data[(data['Task']!='Knowledge Sharing') & (data['Task']!='AjKyaUkhada') & (data['Student']==name)]
    task_marks=task_marks[['Date','Month','Task','Student','Points','Total','Late Submission','Task Winner']].style.hide_index()
    return task_marks

In [76]:
student_task_marks(data,name='Kunal',monthWise=True,month_name='August')

In [88]:
# Student myday count and marks
def student_myday(data,name=None,month_name=None):
    if name==None:
        raise ValueError('Input a name')
    if month_name==None:
        myday_marks=data[data['Task']==myday].groupby('Student')['Points'].sum().sort_values(ascending=False).reset_index()