In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import imagekit
import imgkit
%matplotlib inline

In [2]:
from Drive import *

In [3]:
dir()

['GDriveAuthenticator',
 'Gdrive',
 'In',
 'Out',
 '_',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'imagekit',
 'imgkit',
 'np',
 'pd',
 'plt',
 'quit',
 'sns']

In [4]:
auth=GDriveAuthenticator.GDriveAuthenticator('Drive\\client_secret.json')
drive=Gdrive.Gdrive(auth.authenticate())

In [5]:
drive.search('Student Gradebook')

Found file: Student Gradebook ( 1HYjfEe3aCbufbqIXKs0Xz-gfoQNztGhCN1ivx0gZXnc application/vnd.google-apps.spreadsheet )

('Student Gradebook', '1HYjfEe3aCbufbqIXKs0Xz-gfoQNztGhCN1ivx0gZXnc')

In [6]:
drive.download()

Download. 100

In [7]:
excel_sheet=pd.read_excel('Student Gradebook.xlsx',sheet_name=None,usecols=range(0,10))

In [8]:
len(excel_sheet)

2

In [9]:
data_july=excel_sheet['July'].copy()
data_august=excel_sheet['August'].copy()

In [10]:
data_july.head()

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner
0,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Chandrima,0,6.0,10,0
1,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Dipam,0,7.0,10,0
2,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Durga,0,6.0,10,0
3,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Kaushal,0,7.0,10,0
4,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Arya,0,6.0,10,0

In [11]:
data_august.head()

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner
0,0,AjKyaUkhada,2019-08-01 13:26:57,Ritual,Consistency,Sonali,0,2.0,2,0
1,0,AjKyaUkhada,2019-08-01 14:40:42,Ritual,Consistency,Chandrima,0,2.0,2,0
2,0,AjKyaUkhada,2019-08-01 14:44:34,Ritual,Consistency,Purbita,0,2.0,2,0
3,0,AjKyaUkhada,2019-08-01 14:47:05,Ritual,Consistency,Kunal,0,2.0,2,0
4,0,AjKyaUkhada,2019-08-01 14:48:11,Ritual,Consistency,Kaushal,0,2.0,2,0

In [12]:
data=pd.concat([data_july,data_august]).reset_index().drop(columns=['index'])

In [13]:
del data_july
del data_august

In [14]:
data

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner
0,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Chandrima,0,6.0,10,0
1,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Dipam,0,7.0,10,0
2,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Durga,0,6.0,10,0
3,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Kaushal,0,7.0,10,0
4,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Arya,0,6.0,10,0
5,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Kunal,0,8.0,10,0
6,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Prasoon,0,5.0,10,0
7,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Purbita,0,6.0,10,0
8,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Roumyak,0,6.0,10,0
9,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Shakib,0,6.0,10,0
10,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Sharika,1,6.5,10,0
11,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Siddhishikha,0,6.0,10,0
12,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Swaastik,0,7.5,10,1
13,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Surabhi,0,6.0,10,0
14,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Ujjainee,0,7.0,10,0
15,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Vishal,0,6.0,10,0
16,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Wrick,0,6.0,10,0
17,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Apurwa,1,6.0,10,0
18,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Sonali,1,6.5,10,0
19,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Shantanu,0,7.0,10,0
20,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Sudhanshu,1,6.5,10,0
21,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Anjali,0,7.0,10,0
22,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Bhavna,0,9.0,10,0
23,0,Ajkyaukhada,2019-07-22 00:00:00,Ritual,Consistency,Prasoon,0,2.0,2,0
24,0,Ajkyaukhada,2019-07-22 00:00:00,Ritual,Consistency,Kunal,0,2.0,2,0
25,0,Ajkyaukhada,2019-07-22 00:00:00,Ritual,Consistency,Purbita,0,2.0,2,0
26,0,Ajkyaukhada,2019-07-22 00:00:00,Ritual,Consistency,Siddhishikha,0,2.0,2,0
27,0,Ajkyaukhada,2019-07-22 00:00:00,Ritual,Consistency,Durga,0,2.0,2,0
28,0,Ajkyaukhada,2019-07-22 00:00:00,Ritual,Consistency,Surabhi,0,2.0,2,0
29,0,Ajkyaukhada,2019-07-22 00:00:00,Ritual,Consistency,Shakib,0,2.0,2,0
...,...,...,...,...,...,...,...,...,...,...
1105,0,AjKyaUkhada,2019-09-08 18:58:19,Ritual,Consistency,Apurwa,0,2.0,2,0
1106,0,AjKyaUkhada,2019-09-08 19:13:37,Ritual,Consistency,Bhavna,0,2.0,2,0
1107,0,AjKyaUkhada,2019-09-08 19:18:20,Ritual,Consistency,Shantanu,0,2.0,2,0
1108,0,AjKyaUkhada,2019-09-09 03:45:18,Ritual,Consistency,Sonali,0,2.0,2,0
1109,0,Knowledge Sharing,2019-09-09 04:25:25,Ritual,"Consistency,Curiosity",Dipam,0,2.0,2,0
1110,0,AjKyaUkhada,2019-09-09 08:02:49,Ritual,Consistency,Kaushal,0,2.0,2,0
1111,0,Knowledge Sharing,2019-09-09 15:56:33,Ritual,"Consistency,Curiosity",Kunal,0,2.0,2,0
1112,0,AjKyaUkhada,2019-09-09 16:00:36,Ritual,Consistency,Ujjainee,0,2.0,2,0
1113,0,Knowledge Sharing,2019-09-09 16:01:03,Ritual,"Consistency,Curiosity",Surabhi,0,2.0,2,0
1114,0,AjKyaUkhada,2019-09-09 16:02:23,Ritual,Consistency,Surabhi,0,2.0,2,0
1115,0,Knowledge Sharing,2019-09-09 16:04:59,Ritual,"Consistency,Curiosity",Bhavna,0,2.0,2,0
1116,0,AjKyaUkhada,2019-09-09 16:09:54,Ritual,Consistency,Bhavna,0,2.0,2,0
1117,0,AjKyaUkhada,2019-09-09 16:30:43,Ritual,Consistency,Purbita,0,2.0,2,0
1118,0,AjKyaUkhada,2019-09-09 16:32:51,Ritual,Consistency,Kunal,0,2.0,2,0
1119,0,AjKyaUkhada,2019-09-09 16:50:59,Ritual,Consistency,Dipam,0,2.0,2,0
1120,0,AjKyaUkhada,2019-09-09 16:54:15,Ritual,Consistency,Durga,0,2.0,2,0
1121,0,AjKyaUkhada,2019-09-09 17:07:01,Ritual,Consistency,Chandrima,0,2.0,2,0
1122,0,Knowledge Sharing,2019-09-09 17:12:16,Ritual,"Consistency,Curiosity",Kunal,0,2.0,2,0
1123,0,AjKyaUkhada,2019-09-09 17:31:12,Ritual,Consistency,Shantanu,0,2.0,2,0
1124,0,AjKyaUkhada,2019-09-09 17:38:42,Ritual,Consistency,NaN,0,2.0,2,0
1125,0,AjKyaUkhada,2019-09-09 18:15:19,Ritual,Consistency,Shakib,0,2.0,2,0
1126,0,AjKyaUkhada,2019-09-09 19:25:21,Ritual,Consistency,Kaushal,0,2.0,2,0
1127,0,AjKyaUkhada,2019-09-09 19:27:18,Ritual,Consistency,Vishal,0,2.0,2,0
1128,0,AjKyaUkhada,2019-09-09 20:08:02,Ritual,Consistency,Prasoon,0,2.0,2,0
1129,0,AjKyaUkhada,2019-09-09 20:08:52,Ritual,Consistency,Prasoon,0,2.0,2,0
1130,0,AjKyaUkhada,2019-09-09 20:09:53,Ritual,Consistency,Prasoon,0,2.0,2,0
1131,0,AjKyaUkhada,2019-09-09 20:28:38,Ritual,Consistency,Apurwa,0,2.0,2,0
1132,0,AjKyaUkhada,2019-09-10 07:28:59,Ritual,Consistency,Sharika,0,2.0,2,0
1133,0,Knowledge Sharing,2019-09-10 08:17:51,Ritual,"Consistency,Curiosity",Purbita,0,2.0,2,0
1134,0,Knowledge Sharing,2019-09-10 08:24:44,Ritual,"Consistency,Curiosity",Chandrima,0,2.0,2,0

In [15]:
data=data.dropna(how='all',axis=0)

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1135 entries, 0 to 1134
Data columns (total 10 columns):
id                 1135 non-null int64
Task               1135 non-null object
Date               1135 non-null object
Module             1135 non-null object
Type               1135 non-null object
Student            1112 non-null object
Late Submission    1135 non-null int64
Points             1135 non-null float64
Total              1135 non-null int64
Task Winner        1135 non-null int64
dtypes: float64(1), int64(4), object(5)
memory usage: 97.5+ KB

# Task column

In [17]:
data['Task'].value_counts().sort_values(ascending=False)

AjKyaUkhada                                 760
Knowledge Sharing                           103
Ajkyaukhada                                  68
Linkedin Profile create/update               23
Portfolio home page                          22
Blog on Machine Learning and it's impact     22
Blog and Project Pages                       21
Blog on Different data based job roles       21
PPT Submission                               20
Online Resume                                20
Blog on Data Analysis Process                19
Video Resume                                 18
Github Profile Creation                      18
Name: Task, dtype: int64

AjKyaUkhada has two spellings in july data, need to fix it.

In [18]:
data.replace('Ajkyaukhada','AjKyaUkhada',inplace=True)

In [19]:
data['Task'].value_counts().sort_values(ascending=False)

AjKyaUkhada                                 828
Knowledge Sharing                           103
Linkedin Profile create/update               23
Portfolio home page                          22
Blog on Machine Learning and it's impact     22
Blog and Project Pages                       21
Blog on Different data based job roles       21
PPT Submission                               20
Online Resume                                20
Blog on Data Analysis Process                19
Video Resume                                 18
Github Profile Creation                      18
Name: Task, dtype: int64

# Date columns

In [20]:
data.head()

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner
0,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Chandrima,0,6.0,10,0
1,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Dipam,0,7.0,10,0
2,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Durga,0,6.0,10,0
3,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Kaushal,0,7.0,10,0
4,1,Linkedin Profile create/update,2019-07-22 00:00:00,Profile Building,"Intent, Creativity,Content",Arya,0,6.0,10,0

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1135 entries, 0 to 1134
Data columns (total 10 columns):
id                 1135 non-null int64
Task               1135 non-null object
Date               1135 non-null object
Module             1135 non-null object
Type               1135 non-null object
Student            1112 non-null object
Late Submission    1135 non-null int64
Points             1135 non-null float64
Total              1135 non-null int64
Task Winner        1135 non-null int64
dtypes: float64(1), int64(4), object(5)
memory usage: 97.5+ KB

July has date time dtype but august doesn't, let's fix it.

In [22]:
225+746

971

In [23]:
data['Date']=pd.to_datetime(data['Date'],errors='ignore',infer_datetime_format=True,dayfirst=True)

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1135 entries, 0 to 1134
Data columns (total 10 columns):
id                 1135 non-null int64
Task               1135 non-null object
Date               1135 non-null datetime64[ns]
Module             1135 non-null object
Type               1135 non-null object
Student            1112 non-null object
Late Submission    1135 non-null int64
Points             1135 non-null float64
Total              1135 non-null int64
Task Winner        1135 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(4)
memory usage: 97.5+ KB

In [25]:
data[data['Date'].dt.month==8]

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner
225,0,AjKyaUkhada,2019-08-01 13:26:57,Ritual,Consistency,Sonali,0,2.0,2,0
226,0,AjKyaUkhada,2019-08-01 14:40:42,Ritual,Consistency,Chandrima,0,2.0,2,0
227,0,AjKyaUkhada,2019-08-01 14:44:34,Ritual,Consistency,Purbita,0,2.0,2,0
228,0,AjKyaUkhada,2019-08-01 14:47:05,Ritual,Consistency,Kunal,0,2.0,2,0
229,0,AjKyaUkhada,2019-08-01 14:48:11,Ritual,Consistency,Kaushal,0,2.0,2,0
230,0,AjKyaUkhada,2019-08-01 15:05:13,Ritual,Consistency,Durga,0,2.0,2,0
231,0,AjKyaUkhada,2019-08-01 15:55:48,Ritual,Consistency,Ujjainee,0,2.0,2,0
232,0,AjKyaUkhada,2019-08-01 16:08:05,Ritual,Consistency,Dipam,0,2.0,2,0
233,0,AjKyaUkhada,2019-08-01 16:16:30,Ritual,Consistency,Siddhishikha,0,2.0,2,0
234,0,AjKyaUkhada,2019-08-01 16:17:01,Ritual,Consistency,Surabhi,0,2.0,2,0
235,0,AjKyaUkhada,2019-08-01 17:05:15,Ritual,Consistency,Swaastik,0,2.0,2,0
236,0,AjKyaUkhada,2019-08-01 17:29:07,Ritual,Consistency,Sharika,0,2.0,2,0
237,0,AjKyaUkhada,2019-08-01 18:01:53,Ritual,Consistency,Apurwa,0,2.0,2,0
238,0,AjKyaUkhada,2019-08-01 18:21:29,Ritual,Consistency,Shakib,0,2.0,2,0
239,0,AjKyaUkhada,2019-08-01 18:29:24,Ritual,Consistency,Vishal,0,2.0,2,0
240,0,AjKyaUkhada,2019-08-01 19:52:40,Ritual,Consistency,Wrick,0,2.0,2,0
241,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Chandrima,0,16.5,20,0
242,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Dipam,0,14.0,20,0
243,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Durga,0,16.5,20,0
244,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Kaushal,1,16.5,20,0
245,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Arya,1,18.5,20,0
246,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Kunal,0,20.0,20,0
247,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Purbita,0,18.0,20,0
248,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Roumyak,0,20.0,20,1
249,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Shakib,0,17.5,20,0
250,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Shantanu,0,20.0,20,1
251,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Sharika,1,20.0,20,0
252,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Sonali,1,16.5,20,0
253,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Surabhi,0,20.0,20,1
254,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Siddhishikha,0,16.0,20,0
...,...,...,...,...,...,...,...,...,...,...
913,0,AjKyaUkhada,2019-08-30 16:10:23,Ritual,Consistency,Sharika,0,2.0,2,0
914,0,AjKyaUkhada,2019-08-30 16:29:24,Ritual,Consistency,Prasoon,0,2.0,2,0
915,0,AjKyaUkhada,2019-08-30 16:48:42,Ritual,Consistency,Durga,0,2.0,2,0
916,0,AjKyaUkhada,2019-08-30 17:03:07,Ritual,Consistency,Dipam,0,2.0,2,0
917,0,AjKyaUkhada,2019-08-30 18:15:46,Ritual,Consistency,Shakib,0,2.0,2,0
918,0,AjKyaUkhada,2019-08-30 18:16:03,Ritual,Consistency,Shakib,0,2.0,2,0
919,0,AjKyaUkhada,2019-08-30 19:11:27,Ritual,Consistency,Kaushal,0,2.0,2,0
920,0,AjKyaUkhada,2019-08-30 20:03:02,Ritual,Consistency,Apurwa,0,2.0,2,0
921,0,AjKyaUkhada,2019-08-31 04:03:59,Ritual,Consistency,Swaastick,0,2.0,2,0
922,0,AjKyaUkhada,2019-08-31 04:06:08,Ritual,Consistency,Swaastick,0,2.0,2,0
923,0,AjKyaUkhada,2019-08-31 07:17:20,Ritual,Consistency,Vishal,0,2.0,2,0
924,0,Knowledge Sharing,2019-08-31 07:45:41,Ritual,"Consistency,Curiosity",Durga,0,2.0,2,0
925,0,AjKyaUkhada,2019-08-31 08:18:58,Ritual,Consistency,Bhavna,0,2.0,2,0
926,0,AjKyaUkhada,2019-08-31 10:40:39,Ritual,Consistency,Sonali,0,2.0,2,0
927,0,Knowledge Sharing,2019-08-31 13:45:54,Ritual,"Consistency,Curiosity",Dipam,0,2.0,2,0
928,0,AjKyaUkhada,2019-08-31 14:33:42,Ritual,Consistency,NaN,0,2.0,2,0
929,0,AjKyaUkhada,2019-08-31 15:03:26,Ritual,Consistency,Chandrima,0,2.0,2,0
930,0,AjKyaUkhada,2019-08-31 15:03:42,Ritual,Consistency,Ujjainee,0,2.0,2,0
931,0,AjKyaUkhada,2019-08-31 15:32:27,Ritual,Consistency,Purbita,0,2.0,2,0
932,0,AjKyaUkhada,2019-08-31 15:45:44,Ritual,Consistency,Prasoon,0,2.0,2,0
933,0,AjKyaUkhada,2019-08-31 16:31:22,Ritual,Consistency,Dipam,0,2.0,2,0
934,0,AjKyaUkhada,2019-08-31 16:53:42,Ritual,Consistency,Durga,0,2.0,2,0
935,0,AjKyaUkhada,2019-08-31 17:02:14,Ritual,Consistency,Kunal,0,2.0,2,0
936,0,AjKyaUkhada,2019-08-31 17:26:56,Ritual,Consistency,Surabhi,0,2.0,2,0
937,0,AjKyaUkhada,2019-08-31 17:41:28,Ritual,Consistency,Sharika,0,2.0,2,0
938,0,AjKyaUkhada,2019-08-31 17:50:27,Ritual,Consistency,Siddhishikha,0,2.0,2,0
939,0,AjKyaUkhada,2019-08-31 18:16:07,Ritual,Consistency,Shakib,0,2.0,2,0
940,0,AjKyaUkhada,2019-08-31 19:04:54,Ritual,Consistency,Apurwa,0,2.0,2,0
941,0,AjKyaUkhada,2019-08-31 19:30:53,Ritual,Consistency,Bhavna,0,2.0,2,0
942,0,AjKyaUkhada,2019-08-31 21:38:53,Ritual,Consistency,Vishal,0,2.0,2,0

# Module Column

In [26]:
data['Module'].value_counts()

Ritual                          931
Profile Building                122
Introduction to Data Science     43
Machine Learning                 20
Data Analytics                   19
Name: Module, dtype: int64

No problem with module column, also no null values

# Type column

In [27]:
data['Type'].value_counts()

Consistency                                                 828
Consistency,Curiosity                                       103
Knowledge,Understanding,Communication,Analytical Ability     43
Intent, Creativity,Content                                   23
sincerity,Creativity,Design-sense,Writing                    22
Creativity, Intent                                           21
Creativity,Intent,sincerity                                  20
Diligence                                                    20
Analysis, communication, sincerity                           19
Sincerity,Hard-work                                          18
Creativity,Communication,Intent,Confidence                   18
Name: Type, dtype: int64

No problem in type column, nothing so to understand

# Student column

We know from above info(), data_august has some null values, let's see to it

In [28]:
data[data['Student'].isnull()]

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner
333,0,AjKyaUkhada,2019-08-04 02:52:50,Ritual,Consistency,NaN,0,2.0,2,0
349,0,AjKyaUkhada,2019-08-05 04:17:09,Ritual,Consistency,NaN,0,2.0,2,0
352,0,AjKyaUkhada,2019-08-05 15:47:07,Ritual,Consistency,NaN,0,2.0,2,0
372,0,AjKyaUkhada,2019-08-06 16:13:29,Ritual,Consistency,NaN,0,2.0,2,0
403,0,AjKyaUkhada,2019-08-08 00:53:47,Ritual,Consistency,NaN,0,2.0,2,0
407,0,AjKyaUkhada,2019-08-08 15:49:56,Ritual,Consistency,NaN,0,2.0,2,0
447,0,AjKyaUkhada,2019-08-10 04:11:39,Ritual,Consistency,NaN,0,2.0,2,0
458,0,AjKyaUkhada,2019-08-10 17:19:44,Ritual,Consistency,NaN,0,2.0,2,0
471,0,Knowledge Sharing,2019-08-11 02:17:18,Ritual,"Consistency,Curiosity",NaN,0,2.0,2,0
654,0,AjKyaUkhada,2019-08-20 16:36:08,Ritual,Consistency,NaN,0,2.0,2,0
679,0,AjKyaUkhada,2019-08-16 02:29:20,Ritual,Consistency,NaN,0,2.0,2,0
707,0,AjKyaUkhada,2019-08-17 16:52:55,Ritual,Consistency,NaN,0,2.0,2,0
730,0,AjKyaUkhada,2019-08-16 02:30:28,Ritual,Consistency,NaN,0,2.0,2,0
752,0,AjKyaUkhada,2019-08-16 02:33:33,Ritual,Consistency,NaN,0,2.0,2,0
928,0,AjKyaUkhada,2019-08-31 14:33:42,Ritual,Consistency,NaN,0,2.0,2,0
943,0,AjKyaUkhada,2019-09-01 04:23:21,Ritual,Consistency,NaN,0,2.0,2,0
998,0,AjKyaUkhada,2019-09-03 16:18:05,Ritual,Consistency,NaN,0,2.0,2,0
1022,0,AjKyaUkhada,2019-09-04 17:13:39,Ritual,Consistency,NaN,0,2.0,2,0
1048,0,AjKyaUkhada,2019-09-06 03:21:22,Ritual,Consistency,NaN,0,2.0,2,0
1063,0,AjKyaUkhada,2019-09-06 18:00:36,Ritual,Consistency,NaN,0,2.0,2,0
1097,0,AjKyaUkhada,2019-09-08 16:14:06,Ritual,Consistency,NaN,0,2.0,2,0
1098,0,AjKyaUkhada,2019-09-08 16:15:16,Ritual,Consistency,NaN,0,2.0,2,0
1124,0,AjKyaUkhada,2019-09-09 17:38:42,Ritual,Consistency,NaN,0,2.0,2,0

Since, there is no way to correctly fill this data, we are just gonna drop those rows.

In [29]:
data.dropna(subset=['Student'],inplace=True)

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1112 entries, 0 to 1134
Data columns (total 10 columns):
id                 1112 non-null int64
Task               1112 non-null object
Date               1112 non-null datetime64[ns]
Module             1112 non-null object
Type               1112 non-null object
Student            1112 non-null object
Late Submission    1112 non-null int64
Points             1112 non-null float64
Total              1112 non-null int64
Task Winner        1112 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(4)
memory usage: 95.6+ KB

In [31]:
np.sort(data['Student'].unique())

array(['Anjali', 'Apurwa', 'Arya', 'Bhavna', 'Chandrima', 'Dipam',
       'Durga', 'Kaushal', 'Kunal', 'Nitish', 'Prasoon', 'Purbita',
       'Roumyak', 'Shakib', 'Shantanu', 'Sharika', 'Siddhishikha',
       'Sonali', 'Sudhanshu', 'Surabhi', 'Sushree', 'Swaastick',
       'Swaastik', 'Ujjainee', 'Vishal', 'Wrick'], dtype=object)

#### Spelling error fixings
From the above 2 rows, we can see that there are different names in the data, Sushree and Siddhishikha is the same person, same for Swaastik and Swaastick.

In [32]:
data.replace('Swaastik','Swaastick',inplace=True)

data.replace('Sushree','Siddhishikha',inplace=True)

In [33]:
np.sort(data['Student'].unique())

array(['Anjali', 'Apurwa', 'Arya', 'Bhavna', 'Chandrima', 'Dipam',
       'Durga', 'Kaushal', 'Kunal', 'Nitish', 'Prasoon', 'Purbita',
       'Roumyak', 'Shakib', 'Shantanu', 'Sharika', 'Siddhishikha',
       'Sonali', 'Sudhanshu', 'Surabhi', 'Swaastick', 'Ujjainee',
       'Vishal', 'Wrick'], dtype=object)

The name problem has been resolved.

In [34]:
data.head()

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner
0,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Chandrima,0,6.0,10,0
1,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Dipam,0,7.0,10,0
2,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Durga,0,6.0,10,0
3,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Kaushal,0,7.0,10,0
4,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Arya,0,6.0,10,0

In [35]:
niteshIndex=data[data['Student']=='Nitish'].index
data.drop(niteshIndex,inplace=True)

# Total Marks of students

In [36]:
total_marks=data.groupby('Student')['Points'].sum().sort_values(ascending=False).reset_index()
total_marks

         Student  Points
0          Kunal   262.5
1        Surabhi   257.5
2       Ujjainee   256.5
3          Dipam   253.5
4        Purbita   250.5
5         Shakib   249.5
6         Vishal   243.5
7      Chandrima   239.0
8         Sonali   238.5
9        Sharika   238.5
10  Siddhishikha   226.0
11        Apurwa   222.5
12         Durga   220.5
13       Kaushal   214.0
14     Swaastick   212.5
15       Prasoon   200.5
16       Roumyak   182.5
17      Shantanu   171.5
18          Arya   161.5
19        Bhavna   122.0
20         Wrick    62.5
21        Anjali    50.0
22     Sudhanshu     8.5

In [37]:
# Task Marks
knowledge='Knowledge Sharing'
myday='AjKyaUkhada'
task_marks=data[(data['Task']!=knowledge) & (data['Task']!=myday)].groupby('Student')['Points'].\
sum().sort_values(ascending=False).reset_index()
task_marks

         Student  Points
0          Kunal   150.5
1       Ujjainee   146.5
2        Surabhi   143.5
3        Purbita   142.5
4         Shakib   141.5
5         Vishal   139.5
6           Arya   137.5
7         Sonali   136.5
8       Shantanu   135.5
9      Swaastick   134.5
10       Roumyak   132.5
11        Apurwa   130.5
12  Siddhishikha   130.0
13       Sharika   128.5
14         Dipam   125.5
15     Chandrima   125.0
16       Kaushal   124.0
17         Durga   122.5
18       Prasoon   116.5
19        Bhavna    90.0
20        Anjali    50.0
21         Wrick    46.5
22     Sudhanshu     6.5

In [38]:
# MyDay marks
myday_count=data[data['Task']==myday].groupby('Student')['Points'].count().sort_values(ascending=False).reset_index().style.hide_index()
myday_marks=data[data['Task']==myday].groupby('Student')['Points'].sum().sort_values(ascending=False).reset_index().style.hide_index()
myday_count

In [39]:
# Knowledge Sharing marks
knowledge_marks=data[data['Task']==knowledge].groupby('Student')['Points'].sum().sort_values(ascending=False).\
reset_index().style.hide_index()
knowledge_marks

# Analysing the consistency of each student in myday and knowledge sharing rituals
For this, first we need to make a cleaning script for both the rituals, the rules to be followed are:-  
- There should be only one myday for each date, students giving more than one myday in a particular date need to be checked for
- Knowledge sharing has 2 marks, but each student is alloted a specific day in which he/she will get marks for sharing knowledge.

# Myday Cleaner Script

The data that we need for these scripts must be added to DataFrame first, they are:- Date in month (note: there is already a date column), Month, Year, Day of week.

In [40]:
data['Month']=data['Date'].dt.month_name()
data['Year']=data['Date'].dt.year
data['DayName']=data['Date'].dt.weekday_name
data['Date']=data['Date'].dt.day

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1108 entries, 0 to 1134
Data columns (total 13 columns):
id                 1108 non-null int64
Task               1108 non-null object
Date               1108 non-null int64
Module             1108 non-null object
Type               1108 non-null object
Student            1108 non-null object
Late Submission    1108 non-null int64
Points             1108 non-null float64
Total              1108 non-null int64
Task Winner        1108 non-null int64
Month              1108 non-null object
Year               1108 non-null int64
DayName            1108 non-null object
dtypes: float64(1), int64(6), object(6)
memory usage: 121.2+ KB

In [42]:
# Code to remove duplicate mydays
def mydayCleaner():
    idx=np.array([])
    for date,month in zip(data['Date'].values,data['Month'].values):
        date_mask=data['Date']==date
        month_mask=data['Month']==month
        task_mask=data['Task']=='AjKyaUkhada'
        d=data[date_mask & month_mask & task_mask].sort_values('Student')
        idx=np.append(idx,d[d.duplicated(subset=['Student'],keep='last')].index)
    data.drop(idx,inplace=True)

In [43]:
mydayCleaner()

In [44]:
data

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner,Month,Year,DayName
0,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Chandrima,0,6.0,10,0,July,2019,Monday
1,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Dipam,0,7.0,10,0,July,2019,Monday
2,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Durga,0,6.0,10,0,July,2019,Monday
3,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Kaushal,0,7.0,10,0,July,2019,Monday
4,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Arya,0,6.0,10,0,July,2019,Monday
5,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Kunal,0,8.0,10,0,July,2019,Monday
6,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Prasoon,0,5.0,10,0,July,2019,Monday
7,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Purbita,0,6.0,10,0,July,2019,Monday
8,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Roumyak,0,6.0,10,0,July,2019,Monday
9,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Shakib,0,6.0,10,0,July,2019,Monday
10,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Sharika,1,6.5,10,0,July,2019,Monday
11,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Siddhishikha,0,6.0,10,0,July,2019,Monday
12,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Swaastick,0,7.5,10,1,July,2019,Monday
13,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Surabhi,0,6.0,10,0,July,2019,Monday
14,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Ujjainee,0,7.0,10,0,July,2019,Monday
15,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Vishal,0,6.0,10,0,July,2019,Monday
16,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Wrick,0,6.0,10,0,July,2019,Monday
17,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Apurwa,1,6.0,10,0,July,2019,Monday
18,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Sonali,1,6.5,10,0,July,2019,Monday
19,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Shantanu,0,7.0,10,0,July,2019,Monday
20,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Sudhanshu,1,6.5,10,0,July,2019,Monday
21,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Anjali,0,7.0,10,0,July,2019,Monday
22,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Bhavna,0,9.0,10,0,July,2019,Monday
23,0,AjKyaUkhada,22,Ritual,Consistency,Prasoon,0,2.0,2,0,July,2019,Monday
24,0,AjKyaUkhada,22,Ritual,Consistency,Kunal,0,2.0,2,0,July,2019,Monday
25,0,AjKyaUkhada,22,Ritual,Consistency,Purbita,0,2.0,2,0,July,2019,Monday
26,0,AjKyaUkhada,22,Ritual,Consistency,Siddhishikha,0,2.0,2,0,July,2019,Monday
27,0,AjKyaUkhada,22,Ritual,Consistency,Durga,0,2.0,2,0,July,2019,Monday
28,0,AjKyaUkhada,22,Ritual,Consistency,Surabhi,0,2.0,2,0,July,2019,Monday
29,0,AjKyaUkhada,22,Ritual,Consistency,Shakib,0,2.0,2,0,July,2019,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1101,0,Knowledge Sharing,8,Ritual,"Consistency,Curiosity",Sharika,0,2.0,2,0,September,2019,Sunday
1102,0,AjKyaUkhada,8,Ritual,Consistency,Surabhi,0,2.0,2,0,September,2019,Sunday
1103,0,AjKyaUkhada,8,Ritual,Consistency,Dipam,0,2.0,2,0,September,2019,Sunday
1104,0,AjKyaUkhada,8,Ritual,Consistency,Shakib,0,2.0,2,0,September,2019,Sunday
1105,0,AjKyaUkhada,8,Ritual,Consistency,Apurwa,0,2.0,2,0,September,2019,Sunday
1106,0,AjKyaUkhada,8,Ritual,Consistency,Bhavna,0,2.0,2,0,September,2019,Sunday
1107,0,AjKyaUkhada,8,Ritual,Consistency,Shantanu,0,2.0,2,0,September,2019,Sunday
1108,0,AjKyaUkhada,9,Ritual,Consistency,Sonali,0,2.0,2,0,September,2019,Monday
1109,0,Knowledge Sharing,9,Ritual,"Consistency,Curiosity",Dipam,0,2.0,2,0,September,2019,Monday
1111,0,Knowledge Sharing,9,Ritual,"Consistency,Curiosity",Kunal,0,2.0,2,0,September,2019,Monday
1112,0,AjKyaUkhada,9,Ritual,Consistency,Ujjainee,0,2.0,2,0,September,2019,Monday
1113,0,Knowledge Sharing,9,Ritual,"Consistency,Curiosity",Surabhi,0,2.0,2,0,September,2019,Monday
1114,0,AjKyaUkhada,9,Ritual,Consistency,Surabhi,0,2.0,2,0,September,2019,Monday
1115,0,Knowledge Sharing,9,Ritual,"Consistency,Curiosity",Bhavna,0,2.0,2,0,September,2019,Monday
1116,0,AjKyaUkhada,9,Ritual,Consistency,Bhavna,0,2.0,2,0,September,2019,Monday
1117,0,AjKyaUkhada,9,Ritual,Consistency,Purbita,0,2.0,2,0,September,2019,Monday
1118,0,AjKyaUkhada,9,Ritual,Consistency,Kunal,0,2.0,2,0,September,2019,Monday
1119,0,AjKyaUkhada,9,Ritual,Consistency,Dipam,0,2.0,2,0,September,2019,Monday
1120,0,AjKyaUkhada,9,Ritual,Consistency,Durga,0,2.0,2,0,September,2019,Monday
1121,0,AjKyaUkhada,9,Ritual,Consistency,Chandrima,0,2.0,2,0,September,2019,Monday
1122,0,Knowledge Sharing,9,Ritual,"Consistency,Curiosity",Kunal,0,2.0,2,0,September,2019,Monday
1123,0,AjKyaUkhada,9,Ritual,Consistency,Shantanu,0,2.0,2,0,September,2019,Monday
1125,0,AjKyaUkhada,9,Ritual,Consistency,Shakib,0,2.0,2,0,September,2019,Monday
1126,0,AjKyaUkhada,9,Ritual,Consistency,Kaushal,0,2.0,2,0,September,2019,Monday
1127,0,AjKyaUkhada,9,Ritual,Consistency,Vishal,0,2.0,2,0,September,2019,Monday
1129,0,AjKyaUkhada,9,Ritual,Consistency,Prasoon,0,2.0,2,0,September,2019,Monday
1131,0,AjKyaUkhada,9,Ritual,Consistency,Apurwa,0,2.0,2,0,September,2019,Monday
1132,0,AjKyaUkhada,10,Ritual,Consistency,Sharika,0,2.0,2,0,September,2019,Tuesday
1133,0,Knowledge Sharing,10,Ritual,"Consistency,Curiosity",Purbita,0,2.0,2,0,September,2019,Tuesday
1134,0,Knowledge Sharing,10,Ritual,"Consistency,Curiosity",Chandrima,0,2.0,2,0,September,2019,Tuesday

# Knowledge cleaner script

In [45]:
data['DayName'].unique()

array(['Monday', 'Tuesday', 'Wednesday', 'Friday', 'Sunday', 'Thursday',
       'Saturday'], dtype=object)

In [46]:
np.sort(data['Student'].unique())

array(['Anjali', 'Apurwa', 'Arya', 'Bhavna', 'Chandrima', 'Dipam',
       'Durga', 'Kaushal', 'Kunal', 'Prasoon', 'Purbita', 'Roumyak',
       'Shakib', 'Shantanu', 'Sharika', 'Siddhishikha', 'Sonali',
       'Sudhanshu', 'Surabhi', 'Swaastick', 'Ujjainee', 'Vishal', 'Wrick'],
      dtype=object)

In [47]:
knowledge_sharing_days={'Monday':['Kunal','Bhavna','Apurwa'],\
                       'Tuesday':['Chandrima','Purbita','Prasoon'],\
                        'Wednesday':['Roumyak','Kaushal','Ujjainee'],\
                       'Thursday':['Siddhishikha','Dipam','Shakib'],\
                        'Friday':['Sonali','Durga','Sonali'],\
                       'Saturday':['Swaastick','Sharika','Vishal'],\
                       'Sunday':['Anjali','Arya','Surabhi']}

In [48]:
date_month_dayname_unique=data[['Date','Month','DayName']].drop_duplicates()

In [49]:
dateMask=data['Date']==9
monthMask=data['Month']=='September'
daynameMask=data['DayName']=='Monday'
taskMask=data['Task']=='Knowledge Sharing'
temp=data[dateMask & monthMask & daynameMask & taskMask]
temp

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner,Month,Year,DayName
1109,0,Knowledge Sharing,9,Ritual,"Consistency,Curiosity",Dipam,0,2.0,2,0,September,2019,Monday
1111,0,Knowledge Sharing,9,Ritual,"Consistency,Curiosity",Kunal,0,2.0,2,0,September,2019,Monday
1113,0,Knowledge Sharing,9,Ritual,"Consistency,Curiosity",Surabhi,0,2.0,2,0,September,2019,Monday
1115,0,Knowledge Sharing,9,Ritual,"Consistency,Curiosity",Bhavna,0,2.0,2,0,September,2019,Monday
1122,0,Knowledge Sharing,9,Ritual,"Consistency,Curiosity",Kunal,0,2.0,2,0,September,2019,Monday

In [50]:
# official code to remove duplicate and no proper day marks of knowledge sharing
def knowledgeSharingCleaner():
    idx=np.array([])
    for date,month,dayname in zip(date_month_dayname_unique['Date'].values.tolist(),date_month_dayname_unique['Month'].values.tolist(),date_month_dayname_unique['DayName'].values.tolist()):
        dateMask=data['Date']==date
        monthMask=data['Month']==month
        daynameMask=data['DayName']==dayname
        taskMask=data['Task']=='Knowledge Sharing'
        temp=data[dateMask & monthMask & daynameMask & taskMask]

        # Below for loop filters out those rows for which students and daynames dont match
        # Example:- if dipam posts on gyan on monday, then he wont be given marks
        for index,name in zip(temp.Student.index,temp.Student.values):
            if name not in knowledge_sharing_days[dayname]:
                idx=np.append(idx,index)
        # After the first loop is run (description given on top), now it's time to filter out
        # those who put more than one post in gyan channel on the same day
        idx=np.append(idx,temp[temp.duplicated(subset=['Student'],keep='last')].index)
    data.drop(idx,inplace=True)

In [51]:
knowledgeSharingCleaner()

In [52]:
# Make sure to change both dayname and date, otherwise false error u will think
dateMask=data['Date']==9
monthMask=data['Month']=='September'
daynameMask=data['DayName']=='Monday'
taskMask=data['Task']=='Knowledge Sharing'
temp=data[dateMask & monthMask & daynameMask & taskMask]
temp

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner,Month,Year,DayName
1115,0,Knowledge Sharing,9,Ritual,"Consistency,Curiosity",Bhavna,0,2.0,2,0,September,2019,Monday
1122,0,Knowledge Sharing,9,Ritual,"Consistency,Curiosity",Kunal,0,2.0,2,0,September,2019,Monday

In [53]:
#idx=np.array([])

In [54]:
#np.append(idx,a)

In [55]:
#temp['Student'].index.tolist()

In [56]:
#idx=np.array([])
#for i,name in zip(temp.Student.index,temp.Student.values):
#    if name not in knowledge_sharing_days['Monday']:
#        print(i)
#        idx=np.append(idx,i)

In [57]:
#idx

In [58]:
#idx=np.array([])
#for i,name in zip(temp.Student.index,temp.Student.values):
#    if name not in knowledge_sharing_days['Monday']:
#        idx=np.append(idx,i)

In [59]:
#idx

# Marks after all cleaning

In [60]:
total_marks=data.groupby('Student')['Points'].sum().sort_values(ascending=False).reset_index()
total_marks

         Student  Points
0          Kunal   252.5
1       Ujjainee   248.5
2         Shakib   239.5
3        Surabhi   239.5
4        Purbita   236.5
5         Vishal   231.5
6      Chandrima   227.0
7         Sonali   224.5
8          Dipam   221.5
9        Sharika   218.5
10  Siddhishikha   218.0
11         Durga   216.5
12        Apurwa   208.5
13       Kaushal   204.0
14     Swaastick   192.5
15       Roumyak   178.5
16       Prasoon   174.5
17      Shantanu   163.5
18          Arya   155.5
19        Bhavna   114.0
20         Wrick    60.5
21        Anjali    50.0
22     Sudhanshu     8.5

In [61]:
# Task Marks
knowledge='Knowledge Sharing'
myday='AjKyaUkhada'
task_marks=data[(data['Task']!=knowledge) & (data['Task']!=myday)].groupby('Student')['Points'].\
sum().sort_values(ascending=False).reset_index()
task_marks

         Student  Points
0          Kunal   150.5
1       Ujjainee   146.5
2        Surabhi   143.5
3        Purbita   142.5
4         Shakib   141.5
5         Vishal   139.5
6           Arya   137.5
7         Sonali   136.5
8       Shantanu   135.5
9      Swaastick   134.5
10       Roumyak   132.5
11        Apurwa   130.5
12  Siddhishikha   130.0
13       Sharika   128.5
14         Dipam   125.5
15     Chandrima   125.0
16       Kaushal   124.0
17         Durga   122.5
18       Prasoon   116.5
19        Bhavna    90.0
20        Anjali    50.0
21         Wrick    46.5
22     Sudhanshu     6.5

In [66]:
# MyDay marks
myday_count=data[data['Task']==myday].groupby('Student')['Points'].count().sort_values(ascending=False).reset_index()
myday_marks=data[data['Task']==myday].groupby('Student')['Points'].sum().sort_values(ascending=False).reset_index()
myday_marks

         Student  Points
0          Kunal    96.0
1       Ujjainee    94.0
2        Surabhi    94.0
3          Dipam    94.0
4      Chandrima    92.0
5          Durga    90.0
6         Shakib    90.0
7         Vishal    90.0
8        Sharika    88.0
9        Purbita    86.0
10  Siddhishikha    82.0
11        Sonali    80.0
12        Apurwa    78.0
13       Kaushal    78.0
14     Swaastick    58.0
15       Prasoon    54.0
16       Roumyak    46.0
17      Shantanu    28.0
18        Bhavna    20.0
19          Arya    18.0
20         Wrick    14.0
21     Sudhanshu     2.0

In [63]:
# Knowledge Sharing marks
knowledge_marks=data[data['Task']==knowledge].groupby('Student')['Points'].sum().sort_values(ascending=False).\
reset_index()
knowledge_marks

In [64]:
data.shape

(978, 13)

In [67]:
data

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner,Month,Year,DayName
0,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Chandrima,0,6.0,10,0,July,2019,Monday
1,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Dipam,0,7.0,10,0,July,2019,Monday
2,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Durga,0,6.0,10,0,July,2019,Monday
3,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Kaushal,0,7.0,10,0,July,2019,Monday
4,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Arya,0,6.0,10,0,July,2019,Monday
5,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Kunal,0,8.0,10,0,July,2019,Monday
6,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Prasoon,0,5.0,10,0,July,2019,Monday
7,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Purbita,0,6.0,10,0,July,2019,Monday
8,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Roumyak,0,6.0,10,0,July,2019,Monday
9,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Shakib,0,6.0,10,0,July,2019,Monday
10,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Sharika,1,6.5,10,0,July,2019,Monday
11,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Siddhishikha,0,6.0,10,0,July,2019,Monday
12,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Swaastick,0,7.5,10,1,July,2019,Monday
13,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Surabhi,0,6.0,10,0,July,2019,Monday
14,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Ujjainee,0,7.0,10,0,July,2019,Monday
15,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Vishal,0,6.0,10,0,July,2019,Monday
16,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Wrick,0,6.0,10,0,July,2019,Monday
17,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Apurwa,1,6.0,10,0,July,2019,Monday
18,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Sonali,1,6.5,10,0,July,2019,Monday
19,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Shantanu,0,7.0,10,0,July,2019,Monday
20,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Sudhanshu,1,6.5,10,0,July,2019,Monday
21,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Anjali,0,7.0,10,0,July,2019,Monday
22,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Bhavna,0,9.0,10,0,July,2019,Monday
23,0,AjKyaUkhada,22,Ritual,Consistency,Prasoon,0,2.0,2,0,July,2019,Monday
24,0,AjKyaUkhada,22,Ritual,Consistency,Kunal,0,2.0,2,0,July,2019,Monday
25,0,AjKyaUkhada,22,Ritual,Consistency,Purbita,0,2.0,2,0,July,2019,Monday
26,0,AjKyaUkhada,22,Ritual,Consistency,Siddhishikha,0,2.0,2,0,July,2019,Monday
27,0,AjKyaUkhada,22,Ritual,Consistency,Durga,0,2.0,2,0,July,2019,Monday
28,0,AjKyaUkhada,22,Ritual,Consistency,Surabhi,0,2.0,2,0,July,2019,Monday
29,0,AjKyaUkhada,22,Ritual,Consistency,Shakib,0,2.0,2,0,July,2019,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095,0,AjKyaUkhada,8,Ritual,Consistency,Chandrima,0,2.0,2,0,September,2019,Sunday
1096,0,AjKyaUkhada,8,Ritual,Consistency,Siddhishikha,0,2.0,2,0,September,2019,Sunday
1099,0,AjKyaUkhada,8,Ritual,Consistency,Durga,0,2.0,2,0,September,2019,Sunday
1100,0,AjKyaUkhada,8,Ritual,Consistency,Sharika,0,2.0,2,0,September,2019,Sunday
1102,0,AjKyaUkhada,8,Ritual,Consistency,Surabhi,0,2.0,2,0,September,2019,Sunday
1103,0,AjKyaUkhada,8,Ritual,Consistency,Dipam,0,2.0,2,0,September,2019,Sunday
1104,0,AjKyaUkhada,8,Ritual,Consistency,Shakib,0,2.0,2,0,September,2019,Sunday
1105,0,AjKyaUkhada,8,Ritual,Consistency,Apurwa,0,2.0,2,0,September,2019,Sunday
1106,0,AjKyaUkhada,8,Ritual,Consistency,Bhavna,0,2.0,2,0,September,2019,Sunday
1107,0,AjKyaUkhada,8,Ritual,Consistency,Shantanu,0,2.0,2,0,September,2019,Sunday
1108,0,AjKyaUkhada,9,Ritual,Consistency,Sonali,0,2.0,2,0,September,2019,Monday
1112,0,AjKyaUkhada,9,Ritual,Consistency,Ujjainee,0,2.0,2,0,September,2019,Monday
1114,0,AjKyaUkhada,9,Ritual,Consistency,Surabhi,0,2.0,2,0,September,2019,Monday
1115,0,Knowledge Sharing,9,Ritual,"Consistency,Curiosity",Bhavna,0,2.0,2,0,September,2019,Monday
1116,0,AjKyaUkhada,9,Ritual,Consistency,Bhavna,0,2.0,2,0,September,2019,Monday
1117,0,AjKyaUkhada,9,Ritual,Consistency,Purbita,0,2.0,2,0,September,2019,Monday
1118,0,AjKyaUkhada,9,Ritual,Consistency,Kunal,0,2.0,2,0,September,2019,Monday
1119,0,AjKyaUkhada,9,Ritual,Consistency,Dipam,0,2.0,2,0,September,2019,Monday
1120,0,AjKyaUkhada,9,Ritual,Consistency,Durga,0,2.0,2,0,September,2019,Monday
1121,0,AjKyaUkhada,9,Ritual,Consistency,Chandrima,0,2.0,2,0,September,2019,Monday
1122,0,Knowledge Sharing,9,Ritual,"Consistency,Curiosity",Kunal,0,2.0,2,0,September,2019,Monday
1123,0,AjKyaUkhada,9,Ritual,Consistency,Shantanu,0,2.0,2,0,September,2019,Monday
1125,0,AjKyaUkhada,9,Ritual,Consistency,Shakib,0,2.0,2,0,September,2019,Monday
1126,0,AjKyaUkhada,9,Ritual,Consistency,Kaushal,0,2.0,2,0,September,2019,Monday
1127,0,AjKyaUkhada,9,Ritual,Consistency,Vishal,0,2.0,2,0,September,2019,Monday
1129,0,AjKyaUkhada,9,Ritual,Consistency,Prasoon,0,2.0,2,0,September,2019,Monday
1131,0,AjKyaUkhada,9,Ritual,Consistency,Apurwa,0,2.0,2,0,September,2019,Monday
1132,0,AjKyaUkhada,10,Ritual,Consistency,Sharika,0,2.0,2,0,September,2019,Tuesday
1133,0,Knowledge Sharing,10,Ritual,"Consistency,Curiosity",Purbita,0,2.0,2,0,September,2019,Tuesday
1134,0,Knowledge Sharing,10,Ritual,"Consistency,Curiosity",Chandrima,0,2.0,2,0,September,2019,Tuesday

In [68]:
total_marks

         Student  Points
0          Kunal   252.5
1       Ujjainee   248.5
2         Shakib   239.5
3        Surabhi   239.5
4        Purbita   236.5
5         Vishal   231.5
6      Chandrima   227.0
7         Sonali   224.5
8          Dipam   221.5
9        Sharika   218.5
10  Siddhishikha   218.0
11         Durga   216.5
12        Apurwa   208.5
13       Kaushal   204.0
14     Swaastick   192.5
15       Roumyak   178.5
16       Prasoon   174.5
17      Shantanu   163.5
18          Arya   155.5
19        Bhavna   114.0
20         Wrick    60.5
21        Anjali    50.0
22     Sudhanshu     8.5

In [87]:
def get_myday(name):
    myday_marks=data[data['Task']==myday].groupby('Student')['Points'].sum().sort_values(ascending=False).reset_index()
    temp=myday_marks[myday_marks['Student']==name]['Points'].values
    if len(temp)>0:
        return temp[0]
    else:
        return None

get_myday('Kunal')

def get_task(name):
    knowledge='Knowledge Sharing'
    myday='AjKyaUkhada'
    task_marks=data[(data['Task']!=knowledge) & (data['Task']!=myday)].groupby('Student')['Points'].\
    sum().sort_values(ascending=False).reset_index()
    temp=task_marks[task_marks['Student']==name]['Points'].values
    if len(temp)>0:
        return temp[0]
    else:
        return None

def get_gyan(name):
    knowledge_marks=data[data['Task']=='Knowledge Sharing'].groupby('Student')['Points'].sum().sort_values(ascending=False).\
    reset_index()
    temp=knowledge_marks[knowledge_marks['Student']==name]['Points'].values
    if len(temp)>0:
        return temp[0]
    else:
        return None

get_task('Kunal')

In [84]:
total_marks['Task Marks']=total_marks['Student'].apply(get_task)

total_marks['MyDay Marks']=total_marks['Student'].apply(get_myday)

total_marks['Knowledge Sharing Marks']=total_marks['Student'].apply(get_gyan)

In [89]:
total_marks

         Student  Points  MyDay Marks  Task Marks  Knowledge Sharing Marks
0          Kunal   252.5         96.0       150.5                      6.0
1       Ujjainee   248.5         94.0       146.5                      8.0
2         Shakib   239.5         90.0       141.5                      8.0
3        Surabhi   239.5         94.0       143.5                      2.0
4        Purbita   236.5         86.0       142.5                      8.0
5         Vishal   231.5         90.0       139.5                      2.0
6      Chandrima   227.0         92.0       125.0                     10.0
7         Sonali   224.5         80.0       136.5                      8.0
8          Dipam   221.5         94.0       125.5                      2.0
9        Sharika   218.5         88.0       128.5                      2.0
10  Siddhishikha   218.0         82.0       130.0                      6.0
11         Durga   216.5         90.0       122.5                      4.0
12        Apurwa   208.5         78.0       130.5                      NaN
13       Kaushal   204.0         78.0       124.0                      2.0
14     Swaastick   192.5         58.0       134.5                      NaN
15       Roumyak   178.5         46.0       132.5                      NaN
16       Prasoon   174.5         54.0       116.5                      4.0
17      Shantanu   163.5         28.0       135.5                      NaN
18          Arya   155.5         18.0       137.5                      NaN
19        Bhavna   114.0         20.0        90.0                      4.0
20         Wrick    60.5         14.0        46.5                      NaN
21        Anjali    50.0          NaN        50.0                      NaN
22     Sudhanshu     8.5          2.0         6.5                      NaN