In [40]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [41]:
excel_sheet=pd.read_excel('Student Gradebook.xlsx',sheet_name=None,usecols=range(0,10))

In [42]:
len(excel_sheet)

2

In [43]:
data_july=excel_sheet['July'].copy()
data_august=excel_sheet['August'].copy()

In [44]:
data_july.head()

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner
0,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Chandrima,0,6.0,10,0
1,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Dipam,0,7.0,10,0
2,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Durga,0,6.0,10,0
3,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Kaushal,0,7.0,10,0
4,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Arya,0,6.0,10,0

In [45]:
data_july=data_july.dropna(how='all',axis=0)

In [46]:
data_july.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 225 entries, 0 to 224
Data columns (total 10 columns):
id                 225 non-null int64
Task               225 non-null object
Date               225 non-null datetime64[ns]
Module             225 non-null object
Type               225 non-null object
Student            225 non-null object
Late Submission    225 non-null int64
Points             225 non-null float64
Total              225 non-null int64
Task Winner        225 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(4)
memory usage: 19.3+ KB

In [47]:
data_august.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 711 entries, 0 to 710
Data columns (total 10 columns):
id                 711 non-null int64
Task               711 non-null object
Date               711 non-null object
Module             711 non-null object
Type               711 non-null object
Student            696 non-null object
Late Submission    711 non-null int64
Points             711 non-null float64
Total              711 non-null int64
Task Winner        711 non-null int64
dtypes: float64(1), int64(4), object(5)
memory usage: 55.6+ KB

# Task column

In [48]:
data_july['Task'].value_counts()

AjKyaUkhada                                 69
Ajkyaukhada                                 68
Linkedin Profile create/update              23
Blog on Machine Learning and it's impact    22
Portfolio home page                         22
Blog on Different data based job roles      21
Name: Task, dtype: int64

AjKyaUkhada has two spellings in july data, need to fix it.

In [49]:
data_july.replace('Ajkyaukhada','AjKyaUkhada',inplace=True)

In [50]:
data_july['Task'].value_counts()

AjKyaUkhada                                 137
Linkedin Profile create/update               23
Blog on Machine Learning and it's impact     22
Portfolio home page                          22
Blog on Different data based job roles       21
Name: Task, dtype: int64

In [51]:
data_august['Task'].value_counts()

AjKyaUkhada                      516
Knowledge Sharing                 79
Blog and Project Pages            21
PPT Submission                    20
Online Resume                     20
Blog on Data Analysis Process     19
Video Resume                      18
Github Profile Creation           18
Name: Task, dtype: int64

# Date columns

In [52]:
data_july.head()

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner
0,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Chandrima,0,6.0,10,0
1,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Dipam,0,7.0,10,0
2,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Durga,0,6.0,10,0
3,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Kaushal,0,7.0,10,0
4,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Arya,0,6.0,10,0

In [53]:
data_july.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 225 entries, 0 to 224
Data columns (total 10 columns):
id                 225 non-null int64
Task               225 non-null object
Date               225 non-null datetime64[ns]
Module             225 non-null object
Type               225 non-null object
Student            225 non-null object
Late Submission    225 non-null int64
Points             225 non-null float64
Total              225 non-null int64
Task Winner        225 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(4)
memory usage: 19.3+ KB

In [59]:
data_august.head()

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner
0,0,AjKyaUkhada,2019-08-01 13:26:57,Ritual,Consistency,Sonali,0,2.0,2,0
1,0,AjKyaUkhada,2019-08-01 14:40:42,Ritual,Consistency,Chandrima,0,2.0,2,0
2,0,AjKyaUkhada,2019-08-01 14:44:34,Ritual,Consistency,Purbita,0,2.0,2,0
3,0,AjKyaUkhada,2019-08-01 14:47:05,Ritual,Consistency,Kunal,0,2.0,2,0
4,0,AjKyaUkhada,2019-08-01 14:48:11,Ritual,Consistency,Kaushal,0,2.0,2,0

In [58]:
data_august.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 711 entries, 0 to 710
Data columns (total 10 columns):
id                 711 non-null int64
Task               711 non-null object
Date               711 non-null datetime64[ns]
Module             711 non-null object
Type               711 non-null object
Student            696 non-null object
Late Submission    711 non-null int64
Points             711 non-null float64
Total              711 non-null int64
Task Winner        711 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(4)
memory usage: 55.6+ KB

July has date time dtype but august doesn't, let's fix it.

In [56]:
data_july['Date']=pd.to_datetime(data_july['Date'],errors='ignore')

In [57]:
data_august['Date']=pd.to_datetime(data_august['Date'],errors='ignore')

# Module Column

In [60]:
data_july['Module'].value_counts()

Ritual                          137
Profile Building                 45
Introduction to Data Science     43
Name: Module, dtype: int64

In [61]:
data_august['Module'].value_counts()

Ritual              595
Profile Building     77
Machine Learning     20
Data Analytics       19
Name: Module, dtype: int64

No problem with module column, also no null values

# Type column

In [62]:
data_july['Type'].value_counts()

Consistency                                                 137
Knowledge,Understanding,Communication,Analytical Ability     43
Intent, Creativity,Content                                   23
sincerity,Creativity,Design-sense,Writing                    22
Name: Type, dtype: int64

In [63]:
data_august['Type'].value_counts()

Consistency                                   516
Consistency,Curiosity                          79
Creativity, Intent                             21
Creativity,Intent,sincerity                    20
Diligence                                      20
Analysis, communication, sincerity             19
Creativity,Communication,Intent,Confidence     18
Sincerity,Hard-work                            18
Name: Type, dtype: int64

No problem in type column, nothing so to understand

# Student column

We know from above info(), data_august has some null values, let's see to it

In [74]:
data_august[data_august['Student'].isnull()]

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner
108,0,AjKyaUkhada,2019-08-04 02:52:50,Ritual,Consistency,NaN,0,2.0,2,0
124,0,AjKyaUkhada,2019-08-05 04:17:09,Ritual,Consistency,NaN,0,2.0,2,0
127,0,AjKyaUkhada,2019-08-05 15:47:07,Ritual,Consistency,NaN,0,2.0,2,0
147,0,AjKyaUkhada,2019-08-06 16:13:29,Ritual,Consistency,NaN,0,2.0,2,0
178,0,AjKyaUkhada,2019-08-08 00:53:47,Ritual,Consistency,NaN,0,2.0,2,0
182,0,AjKyaUkhada,2019-08-08 15:49:56,Ritual,Consistency,NaN,0,2.0,2,0
222,0,AjKyaUkhada,2019-08-10 04:11:39,Ritual,Consistency,NaN,0,2.0,2,0
233,0,AjKyaUkhada,2019-08-10 17:19:44,Ritual,Consistency,NaN,0,2.0,2,0
246,0,Knowledge Sharing,2019-08-11 02:17:18,Ritual,"Consistency,Curiosity",NaN,0,2.0,2,0
429,0,AjKyaUkhada,2019-08-20 16:36:08,Ritual,Consistency,NaN,0,2.0,2,0
454,0,AjKyaUkhada,2019-08-16 02:29:20,Ritual,Consistency,NaN,0,2.0,2,0
482,0,AjKyaUkhada,2019-08-17 16:52:55,Ritual,Consistency,NaN,0,2.0,2,0
505,0,AjKyaUkhada,2019-08-16 02:30:28,Ritual,Consistency,NaN,0,2.0,2,0
527,0,AjKyaUkhada,2019-08-16 02:33:33,Ritual,Consistency,NaN,0,2.0,2,0
703,0,AjKyaUkhada,2019-08-31 14:33:42,Ritual,Consistency,NaN,0,2.0,2,0

Since, there is no way to correctly fill this data, we are just gonna drop those rows.

In [76]:
data_august.dropna(subset=['Student'],inplace=True)

In [77]:
data_august.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 696 entries, 0 to 710
Data columns (total 10 columns):
id                 696 non-null int64
Task               696 non-null object
Date               696 non-null datetime64[ns]
Module             696 non-null object
Type               696 non-null object
Student            696 non-null object
Late Submission    696 non-null int64
Points             696 non-null float64
Total              696 non-null int64
Task Winner        696 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(4)
memory usage: 59.8+ KB

In [78]:
np.sort(data_july['Student'].unique())

array(['Anjali', 'Apurwa', 'Arya', 'Bhavna', 'Chandrima', 'Dipam',
       'Durga', 'Kaushal', 'Kunal', 'Prasoon', 'Purbita', 'Roumyak',
       'Shakib', 'Shantanu', 'Sharika', 'Siddhishikha', 'Sonali',
       'Sudhanshu', 'Surabhi', 'Sushree', 'Swaastik', 'Ujjainee',
       'Vishal', 'Wrick'], dtype=object)

In [80]:
np.sort(data_august['Student'].unique())

array(['Anjali', 'Apurwa', 'Arya', 'Bhavna', 'Chandrima', 'Dipam',
       'Durga', 'Kaushal', 'Kunal', 'Nitish', 'Prasoon', 'Purbita',
       'Roumyak', 'Shakib', 'Shantanu', 'Sharika', 'Siddhishikha',
       'Sonali', 'Surabhi', 'Swaastick', 'Swaastik', 'Ujjainee', 'Vishal',
       'Wrick'], dtype=object)

#### Spelling error fixings
From the above 2 rows, we can see that there are different names in the data, Sushree and Siddhishikha is the same person, same for Swaastik and Swaastick.

In [17]:
data_july.replace('Sushree','Siddhishikha',inplace=True)

In [15]:
data_august

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner
0,0,AjKyaUkhada,2019-08-01 13:26:57,Ritual,Consistency,Sonali,0,2.0,2,0
1,0,AjKyaUkhada,2019-08-01 14:40:42,Ritual,Consistency,Chandrima,0,2.0,2,0
2,0,AjKyaUkhada,2019-08-01 14:44:34,Ritual,Consistency,Purbita,0,2.0,2,0
3,0,AjKyaUkhada,2019-08-01 14:47:05,Ritual,Consistency,Kunal,0,2.0,2,0
4,0,AjKyaUkhada,2019-08-01 14:48:11,Ritual,Consistency,Kaushal,0,2.0,2,0
5,0,AjKyaUkhada,2019-08-01 15:05:13,Ritual,Consistency,Durga,0,2.0,2,0
6,0,AjKyaUkhada,2019-08-01 15:55:48,Ritual,Consistency,Ujjainee,0,2.0,2,0
7,0,AjKyaUkhada,2019-08-01 16:08:05,Ritual,Consistency,Dipam,0,2.0,2,0
8,0,AjKyaUkhada,2019-08-01 16:16:30,Ritual,Consistency,Siddhishikha,0,2.0,2,0
9,0,AjKyaUkhada,2019-08-01 16:17:01,Ritual,Consistency,Surabhi,0,2.0,2,0
10,0,AjKyaUkhada,2019-08-01 17:05:15,Ritual,Consistency,Swaastik,0,2.0,2,0
11,0,AjKyaUkhada,2019-08-01 17:29:07,Ritual,Consistency,Sharika,0,2.0,2,0
12,0,AjKyaUkhada,2019-08-01 18:01:53,Ritual,Consistency,Apurwa,0,2.0,2,0
13,0,AjKyaUkhada,2019-08-01 18:21:29,Ritual,Consistency,Shakib,0,2.0,2,0
14,0,AjKyaUkhada,2019-08-01 18:29:24,Ritual,Consistency,Vishal,0,2.0,2,0
15,0,AjKyaUkhada,2019-08-01 19:52:40,Ritual,Consistency,Wrick,0,2.0,2,0
16,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Chandrima,0,16.5,20,0
17,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Dipam,0,14.0,20,0
18,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Durga,0,16.5,20,0
19,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Kaushal,1,16.5,20,0
20,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Arya,1,18.5,20,0
21,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Kunal,0,20.0,20,0
22,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Purbita,0,18.0,20,0
23,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Roumyak,0,20.0,20,1
24,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Shakib,0,17.5,20,0
25,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Shantanu,0,20.0,20,1
26,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Sharika,1,20.0,20,0
27,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Sonali,1,16.5,20,0
28,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Surabhi,0,20.0,20,1
29,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Siddhishikha,0,16.0,20,0
...,...,...,...,...,...,...,...,...,...,...
681,0,Knowledge Sharing,2019-08-30 14:30:35,Ritual,"Consistency,Curiosity",Sonali,0,2.0,2,0
682,0,AjKyaUkhada,2019-08-30 14:42:46,Ritual,Consistency,Chandrima,0,2.0,2,0
683,0,AjKyaUkhada,2019-08-30 15:01:19,Ritual,Consistency,Siddhishikha,0,2.0,2,0
684,0,AjKyaUkhada,2019-08-30 15:40:24,Ritual,Consistency,Kunal,0,2.0,2,0
685,0,AjKyaUkhada,2019-08-30 15:43:24,Ritual,Consistency,Ujjainee,0,2.0,2,0
686,0,AjKyaUkhada,2019-08-30 15:47:15,Ritual,Consistency,Purbita,0,2.0,2,0
687,0,AjKyaUkhada,2019-08-30 16:04:16,Ritual,Consistency,Surabhi,0,2.0,2,0
688,0,AjKyaUkhada,2019-08-30 16:10:23,Ritual,Consistency,Sharika,0,2.0,2,0
689,0,AjKyaUkhada,2019-08-30 16:29:24,Ritual,Consistency,Prasoon,0,2.0,2,0
690,0,AjKyaUkhada,2019-08-30 16:48:42,Ritual,Consistency,Durga,0,2.0,2,0
691,0,AjKyaUkhada,2019-08-30 17:03:07,Ritual,Consistency,Dipam,0,2.0,2,0
692,0,AjKyaUkhada,2019-08-30 18:15:46,Ritual,Consistency,Shakib,0,2.0,2,0
693,0,AjKyaUkhada,2019-08-30 18:16:03,Ritual,Consistency,Shakib,0,2.0,2,0
694,0,AjKyaUkhada,2019-08-30 19:11:27,Ritual,Consistency,Kaushal,0,2.0,2,0
695,0,AjKyaUkhada,2019-08-30 20:03:02,Ritual,Consistency,Apurwa,0,2.0,2,0
696,0,AjKyaUkhada,2019-08-31 04:03:59,Ritual,Consistency,Swaastick,0,2.0,2,0
697,0,AjKyaUkhada,2019-08-31 04:06:08,Ritual,Consistency,Swaastick,0,2.0,2,0
698,0,AjKyaUkhada,2019-08-31 07:17:20,Ritual,Consistency,Vishal,0,2.0,2,0
699,0,Knowledge Sharing,2019-08-31 07:45:41,Ritual,"Consistency,Curiosity",Durga,0,2.0,2,0
700,0,AjKyaUkhada,2019-08-31 08:18:58,Ritual,Consistency,Bhavna,0,2.0,2,0
701,0,AjKyaUkhada,2019-08-31 10:40:39,Ritual,Consistency,Sonali,0,2.0,2,0
702,0,Knowledge Sharing,2019-08-31 13:45:54,Ritual,"Consistency,Curiosity",Dipam,0,2.0,2,0
703,0,AjKyaUkhada,2019-08-31 14:33:42,Ritual,Consistency,NaN,0,2.0,2,0
704,0,AjKyaUkhada,2019-08-31 15:03:26,Ritual,Consistency,Chandrima,0,2.0,2,0
705,0,AjKyaUkhada,2019-08-31 15:03:42,Ritual,Consistency,Ujjainee,0,2.0,2,0
706,0,AjKyaUkhada,2019-08-31 15:32:27,Ritual,Consistency,Purbita,0,2.0,2,0
707,0,AjKyaUkhada,2019-08-31 15:45:44,Ritual,Consistency,Prasoon,0,2.0,2,0
708,0,AjKyaUkhada,2019-08-31 16:31:22,Ritual,Consistency,Dipam,0,2.0,2,0
709,0,AjKyaUkhada,2019-08-31 16:53:42,Ritual,Consistency,Durga,0,2.0,2,0
710,0,AjKyaUkhada,2019-08-31 17:02:14,Ritual,Consistency,Kunal,0,2.0,2,0

In [21]:
marksaug=data_august.groupby('Student')['Points'].sum().sort_values(ascending=False)
marksjuly=data_july.groupby('Student')['Points'].sum().sort_values(ascending=False)
total_marks=(marksjuly+marksaug).sort_values(ascending=False).reset_index()

In [68]:
total_marks

         Student  Points
0       Ujjainee   236.5
1          Kunal   236.5
2        Surabhi   231.5
3          Dipam   229.5
4        Purbita   228.5
5         Shakib   227.5
6         Vishal   225.5
7         Sonali   218.5
8      Chandrima   217.0
9        Sharika   214.5
10  Siddhishikha   208.0
11        Apurwa   202.5
12         Durga   202.5
13       Kaushal   200.0
14       Roumyak   178.5
15       Prasoon   178.5
16      Shantanu   157.5
17          Arya   151.5
18      Swaastik   117.5
19        Bhavna   100.0
20         Wrick    62.5
21        Anjali    50.0
22        Nitish     NaN
23     Sudhanshu     NaN
24     Swaastick     NaN