In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
excel_sheet=pd.read_excel('Student Gradebook.xlsx',sheet_name=None,usecols=range(0,10))

In [3]:
len(excel_sheet)

2

In [4]:
data_july=excel_sheet['July'].copy()
data_august=excel_sheet['August'].copy()

In [5]:
data_july.head()

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner
0,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Chandrima,0,6.0,10,0
1,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Dipam,0,7.0,10,0
2,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Durga,0,6.0,10,0
3,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Kaushal,0,7.0,10,0
4,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Arya,0,6.0,10,0

In [6]:
data_july=data_july.dropna(how='all',axis=0)

In [7]:
data_july.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 225 entries, 0 to 224
Data columns (total 10 columns):
id                 225 non-null int64
Task               225 non-null object
Date               225 non-null datetime64[ns]
Module             225 non-null object
Type               225 non-null object
Student            225 non-null object
Late Submission    225 non-null int64
Points             225 non-null float64
Total              225 non-null int64
Task Winner        225 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(4)
memory usage: 19.3+ KB

In [8]:
data_august.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 762 entries, 0 to 761
Data columns (total 10 columns):
id                 762 non-null int64
Task               762 non-null object
Date               762 non-null object
Module             762 non-null object
Type               762 non-null object
Student            746 non-null object
Late Submission    762 non-null int64
Points             762 non-null float64
Total              762 non-null int64
Task Winner        762 non-null int64
dtypes: float64(1), int64(4), object(5)
memory usage: 59.6+ KB

# Task column

In [9]:
data_july['Task'].value_counts()

AjKyaUkhada                                 69
Ajkyaukhada                                 68
Linkedin Profile create/update              23
Blog on Machine Learning and it's impact    22
Portfolio home page                         22
Blog on Different data based job roles      21
Name: Task, dtype: int64

AjKyaUkhada has two spellings in july data, need to fix it.

In [10]:
data_july.replace('Ajkyaukhada','AjKyaUkhada',inplace=True)

In [11]:
data_july['Task'].value_counts()

AjKyaUkhada                                 137
Linkedin Profile create/update               23
Blog on Machine Learning and it's impact     22
Portfolio home page                          22
Blog on Different data based job roles       21
Name: Task, dtype: int64

In [12]:
data_august['Task'].value_counts()

AjKyaUkhada                      559
Knowledge Sharing                 87
Blog and Project Pages            21
PPT Submission                    20
Online Resume                     20
Blog on Data Analysis Process     19
Github Profile Creation           18
Video Resume                      18
Name: Task, dtype: int64

# Date columns

In [13]:
data_july.head()

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner
0,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Chandrima,0,6.0,10,0
1,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Dipam,0,7.0,10,0
2,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Durga,0,6.0,10,0
3,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Kaushal,0,7.0,10,0
4,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Arya,0,6.0,10,0

In [14]:
data_july.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 225 entries, 0 to 224
Data columns (total 10 columns):
id                 225 non-null int64
Task               225 non-null object
Date               225 non-null datetime64[ns]
Module             225 non-null object
Type               225 non-null object
Student            225 non-null object
Late Submission    225 non-null int64
Points             225 non-null float64
Total              225 non-null int64
Task Winner        225 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(4)
memory usage: 19.3+ KB

In [15]:
data_august.head()

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner
0,0,AjKyaUkhada,2019-08-01 13:26:57,Ritual,Consistency,Sonali,0,2.0,2,0
1,0,AjKyaUkhada,2019-08-01 14:40:42,Ritual,Consistency,Chandrima,0,2.0,2,0
2,0,AjKyaUkhada,2019-08-01 14:44:34,Ritual,Consistency,Purbita,0,2.0,2,0
3,0,AjKyaUkhada,2019-08-01 14:47:05,Ritual,Consistency,Kunal,0,2.0,2,0
4,0,AjKyaUkhada,2019-08-01 14:48:11,Ritual,Consistency,Kaushal,0,2.0,2,0

In [16]:
data_august.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 762 entries, 0 to 761
Data columns (total 10 columns):
id                 762 non-null int64
Task               762 non-null object
Date               762 non-null object
Module             762 non-null object
Type               762 non-null object
Student            746 non-null object
Late Submission    762 non-null int64
Points             762 non-null float64
Total              762 non-null int64
Task Winner        762 non-null int64
dtypes: float64(1), int64(4), object(5)
memory usage: 59.6+ KB

July has date time dtype but august doesn't, let's fix it.

In [17]:
data_july['Date']=pd.to_datetime(data_july['Date'],errors='ignore')

In [18]:
data_august['Date']=pd.to_datetime(data_august['Date'],errors='ignore')

# Module Column

In [19]:
data_july['Module'].value_counts()

Ritual                          137
Profile Building                 45
Introduction to Data Science     43
Name: Module, dtype: int64

In [20]:
data_august['Module'].value_counts()

Ritual              646
Profile Building     77
Machine Learning     20
Data Analytics       19
Name: Module, dtype: int64

No problem with module column, also no null values

# Type column

In [21]:
data_july['Type'].value_counts()

Consistency                                                 137
Knowledge,Understanding,Communication,Analytical Ability     43
Intent, Creativity,Content                                   23
sincerity,Creativity,Design-sense,Writing                    22
Name: Type, dtype: int64

In [22]:
data_august['Type'].value_counts()

Consistency                                   559
Consistency,Curiosity                          87
Creativity, Intent                             21
Diligence                                      20
Creativity,Intent,sincerity                    20
Analysis, communication, sincerity             19
Creativity,Communication,Intent,Confidence     18
Sincerity,Hard-work                            18
Name: Type, dtype: int64

No problem in type column, nothing so to understand

# Student column

We know from above info(), data_august has some null values, let's see to it

In [23]:
data_august[data_august['Student'].isnull()]

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner
108,0,AjKyaUkhada,2019-08-04 02:52:50,Ritual,Consistency,NaN,0,2.0,2,0
124,0,AjKyaUkhada,2019-08-05 04:17:09,Ritual,Consistency,NaN,0,2.0,2,0
127,0,AjKyaUkhada,2019-08-05 15:47:07,Ritual,Consistency,NaN,0,2.0,2,0
147,0,AjKyaUkhada,2019-08-06 16:13:29,Ritual,Consistency,NaN,0,2.0,2,0
178,0,AjKyaUkhada,2019-08-08 00:53:47,Ritual,Consistency,NaN,0,2.0,2,0
182,0,AjKyaUkhada,2019-08-08 15:49:56,Ritual,Consistency,NaN,0,2.0,2,0
222,0,AjKyaUkhada,2019-08-10 04:11:39,Ritual,Consistency,NaN,0,2.0,2,0
233,0,AjKyaUkhada,2019-08-10 17:19:44,Ritual,Consistency,NaN,0,2.0,2,0
246,0,Knowledge Sharing,2019-08-11 02:17:18,Ritual,"Consistency,Curiosity",NaN,0,2.0,2,0
429,0,AjKyaUkhada,2019-08-20 16:36:08,Ritual,Consistency,NaN,0,2.0,2,0
454,0,AjKyaUkhada,2019-08-16 02:29:20,Ritual,Consistency,NaN,0,2.0,2,0
482,0,AjKyaUkhada,2019-08-17 16:52:55,Ritual,Consistency,NaN,0,2.0,2,0
505,0,AjKyaUkhada,2019-08-16 02:30:28,Ritual,Consistency,NaN,0,2.0,2,0
527,0,AjKyaUkhada,2019-08-16 02:33:33,Ritual,Consistency,NaN,0,2.0,2,0
703,0,AjKyaUkhada,2019-08-31 14:33:42,Ritual,Consistency,NaN,0,2.0,2,0
718,0,AjKyaUkhada,2019-09-01 04:23:21,Ritual,Consistency,NaN,0,2.0,2,0

Since, there is no way to correctly fill this data, we are just gonna drop those rows.

In [24]:
data_august.dropna(subset=['Student'],inplace=True)

In [25]:
data_august.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 746 entries, 0 to 761
Data columns (total 10 columns):
id                 746 non-null int64
Task               746 non-null object
Date               746 non-null datetime64[ns]
Module             746 non-null object
Type               746 non-null object
Student            746 non-null object
Late Submission    746 non-null int64
Points             746 non-null float64
Total              746 non-null int64
Task Winner        746 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(4)
memory usage: 64.1+ KB

In [26]:
np.sort(data_july['Student'].unique())

array(['Anjali', 'Apurwa', 'Arya', 'Bhavna', 'Chandrima', 'Dipam',
       'Durga', 'Kaushal', 'Kunal', 'Prasoon', 'Purbita', 'Roumyak',
       'Shakib', 'Shantanu', 'Sharika', 'Siddhishikha', 'Sonali',
       'Sudhanshu', 'Surabhi', 'Sushree', 'Swaastik', 'Ujjainee',
       'Vishal', 'Wrick'], dtype=object)

In [27]:
np.sort(data_august['Student'].unique())

array(['Anjali', 'Apurwa', 'Arya', 'Bhavna', 'Chandrima', 'Dipam',
       'Durga', 'Kaushal', 'Kunal', 'Nitish', 'Prasoon', 'Purbita',
       'Roumyak', 'Shakib', 'Shantanu', 'Sharika', 'Siddhishikha',
       'Sonali', 'Surabhi', 'Swaastick', 'Swaastik', 'Ujjainee', 'Vishal',
       'Wrick'], dtype=object)

#### Spelling error fixings
From the above 2 rows, we can see that there are different names in the data, Sushree and Siddhishikha is the same person, same for Swaastik and Swaastick.

In [28]:
data_july.replace('Swaastik','Swaastick',inplace=True)
data_august.replace('Swaastik','Swaastick',inplace=True)

In [29]:
data_july.replace('Sushree','Siddhishikha',inplace=True)
data_august.replace('Sushree','Siddhishikha',inplace=True)

In [30]:
np.sort(data_july['Student'].unique())

array(['Anjali', 'Apurwa', 'Arya', 'Bhavna', 'Chandrima', 'Dipam',
       'Durga', 'Kaushal', 'Kunal', 'Prasoon', 'Purbita', 'Roumyak',
       'Shakib', 'Shantanu', 'Sharika', 'Siddhishikha', 'Sonali',
       'Sudhanshu', 'Surabhi', 'Swaastick', 'Ujjainee', 'Vishal', 'Wrick'],
      dtype=object)

In [31]:
np.sort(data_august['Student'].unique())

array(['Anjali', 'Apurwa', 'Arya', 'Bhavna', 'Chandrima', 'Dipam',
       'Durga', 'Kaushal', 'Kunal', 'Nitish', 'Prasoon', 'Purbita',
       'Roumyak', 'Shakib', 'Shantanu', 'Sharika', 'Siddhishikha',
       'Sonali', 'Surabhi', 'Swaastick', 'Ujjainee', 'Vishal', 'Wrick'],
      dtype=object)

The name problem has been resolved.

In [32]:
data_august

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner
0,0,AjKyaUkhada,2019-08-01 13:26:57,Ritual,Consistency,Sonali,0,2.0,2,0
1,0,AjKyaUkhada,2019-08-01 14:40:42,Ritual,Consistency,Chandrima,0,2.0,2,0
2,0,AjKyaUkhada,2019-08-01 14:44:34,Ritual,Consistency,Purbita,0,2.0,2,0
3,0,AjKyaUkhada,2019-08-01 14:47:05,Ritual,Consistency,Kunal,0,2.0,2,0
4,0,AjKyaUkhada,2019-08-01 14:48:11,Ritual,Consistency,Kaushal,0,2.0,2,0
5,0,AjKyaUkhada,2019-08-01 15:05:13,Ritual,Consistency,Durga,0,2.0,2,0
6,0,AjKyaUkhada,2019-08-01 15:55:48,Ritual,Consistency,Ujjainee,0,2.0,2,0
7,0,AjKyaUkhada,2019-08-01 16:08:05,Ritual,Consistency,Dipam,0,2.0,2,0
8,0,AjKyaUkhada,2019-08-01 16:16:30,Ritual,Consistency,Siddhishikha,0,2.0,2,0
9,0,AjKyaUkhada,2019-08-01 16:17:01,Ritual,Consistency,Surabhi,0,2.0,2,0
10,0,AjKyaUkhada,2019-08-01 17:05:15,Ritual,Consistency,Swaastick,0,2.0,2,0
11,0,AjKyaUkhada,2019-08-01 17:29:07,Ritual,Consistency,Sharika,0,2.0,2,0
12,0,AjKyaUkhada,2019-08-01 18:01:53,Ritual,Consistency,Apurwa,0,2.0,2,0
13,0,AjKyaUkhada,2019-08-01 18:21:29,Ritual,Consistency,Shakib,0,2.0,2,0
14,0,AjKyaUkhada,2019-08-01 18:29:24,Ritual,Consistency,Vishal,0,2.0,2,0
15,0,AjKyaUkhada,2019-08-01 19:52:40,Ritual,Consistency,Wrick,0,2.0,2,0
16,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Chandrima,0,16.5,20,0
17,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Dipam,0,14.0,20,0
18,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Durga,0,16.5,20,0
19,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Kaushal,1,16.5,20,0
20,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Arya,1,18.5,20,0
21,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Kunal,0,20.0,20,0
22,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Purbita,0,18.0,20,0
23,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Roumyak,0,20.0,20,1
24,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Shakib,0,17.5,20,0
25,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Shantanu,0,20.0,20,1
26,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Sharika,1,20.0,20,0
27,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Sonali,1,16.5,20,0
28,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Surabhi,0,20.0,20,1
29,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Siddhishikha,0,16.0,20,0
...,...,...,...,...,...,...,...,...,...,...
732,0,AjKyaUkhada,2019-09-01 17:44:53,Ritual,Consistency,Kunal,0,2.0,2,0
733,0,AjKyaUkhada,2019-09-01 17:55:40,Ritual,Consistency,Vishal,0,2.0,2,0
734,0,AjKyaUkhada,2019-09-01 18:05:22,Ritual,Consistency,Shakib,0,2.0,2,0
735,0,AjKyaUkhada,2019-09-01 18:08:18,Ritual,Consistency,Purbita,0,2.0,2,0
736,0,AjKyaUkhada,2019-09-01 18:26:06,Ritual,Consistency,Durga,0,2.0,2,0
737,0,AjKyaUkhada,2019-09-01 18:51:35,Ritual,Consistency,Bhavna,0,2.0,2,0
738,0,AjKyaUkhada,2019-09-01 18:55:24,Ritual,Consistency,Roumyak,0,2.0,2,0
739,0,AjKyaUkhada,2019-09-01 20:03:46,Ritual,Consistency,Apurwa,0,2.0,2,0
740,0,Knowledge Sharing,2019-09-02 01:38:25,Ritual,"Consistency,Curiosity",Bhavna,0,2.0,2,0
741,0,AjKyaUkhada,2019-09-02 03:37:05,Ritual,Consistency,Swaastick,0,2.0,2,0
742,0,AjKyaUkhada,2019-09-02 04:23:55,Ritual,Consistency,Prasoon,0,2.0,2,0
743,0,AjKyaUkhada,2019-09-02 08:58:10,Ritual,Consistency,Sonali,0,2.0,2,0
744,0,AjKyaUkhada,2019-09-02 12:42:19,Ritual,Consistency,Kaushal,0,2.0,2,0
745,0,AjKyaUkhada,2019-09-02 15:39:10,Ritual,Consistency,Purbita,0,2.0,2,0
746,0,AjKyaUkhada,2019-09-02 15:48:39,Ritual,Consistency,Siddhishikha,0,2.0,2,0
747,0,AjKyaUkhada,2019-09-02 15:58:16,Ritual,Consistency,Kunal,0,2.0,2,0
748,0,AjKyaUkhada,2019-09-02 16:04:23,Ritual,Consistency,Chandrima,0,2.0,2,0
749,0,AjKyaUkhada,2019-09-02 16:12:49,Ritual,Consistency,Surabhi,0,2.0,2,0
750,0,AjKyaUkhada,2019-09-02 16:13:52,Ritual,Consistency,Ujjainee,0,2.0,2,0
751,0,AjKyaUkhada,2019-09-02 16:45:18,Ritual,Consistency,Durga,0,2.0,2,0
752,0,Knowledge Sharing,2019-09-02 17:27:37,Ritual,"Consistency,Curiosity",Surabhi,0,2.0,2,0
753,0,AjKyaUkhada,2019-09-02 17:38:49,Ritual,Consistency,Vishal,0,2.0,2,0
754,0,AjKyaUkhada,2019-09-02 17:39:07,Ritual,Consistency,Shakib,0,2.0,2,0
755,0,AjKyaUkhada,2019-09-02 19:57:48,Ritual,Consistency,Dipam,0,2.0,2,0
756,0,AjKyaUkhada,2019-09-02 20:18:54,Ritual,Consistency,Prasoon,0,2.0,2,0
757,0,AjKyaUkhada,2019-09-02 20:23:01,Ritual,Consistency,Apurwa,0,2.0,2,0
758,0,AjKyaUkhada,2019-09-03 02:36:59,Ritual,Consistency,Swaastick,0,2.0,2,0
759,0,Knowledge Sharing,2019-09-03 05:10:34,Ritual,"Consistency,Curiosity",Dipam,0,2.0,2,0
760,0,Knowledge Sharing,2019-09-03 10:18:12,Ritual,"Consistency,Curiosity",Prasoon,0,2.0,2,0
761,0,Knowledge Sharing,2019-09-03 10:20:35,Ritual,"Consistency,Curiosity",Purbita,0,2.0,2,0

In [33]:
marksaug=data_august.groupby('Student')['Points'].sum().sort_values(ascending=False)
marksjuly=data_july.groupby('Student')['Points'].sum().sort_values(ascending=False)
total_marks=(marksjuly+marksaug).sort_values(ascending=False).reset_index()

In [34]:
total_marks

         Student  Points
0       Ujjainee   240.5
1          Kunal   240.5
2        Surabhi   239.5
3          Dipam   235.5
4        Purbita   234.5
5         Shakib   233.5
6         Vishal   233.5
7         Sonali   222.5
8      Chandrima   221.0
9        Sharika   220.5
10  Siddhishikha   214.0
11        Apurwa   208.5
12     Swaastick   206.5
13         Durga   206.5
14       Kaushal   204.0
15       Prasoon   184.5
16       Roumyak   180.5
17      Shantanu   157.5
18          Arya   151.5
19        Bhavna   106.0
20         Wrick    62.5
21        Anjali    50.0
22        Nitish     NaN
23     Sudhanshu     NaN

In [ ]:
total_marks.to