In [1]:
!pip install imagekit
!pip install imgkit
!pip install weasyprint

Requirement already satisfied: imagekit in d:\conda_installation_dont_delete\lib\site-packages (1.0.6)
Requirement already satisfied: imgkit in d:\conda_installation_dont_delete\lib\site-packages (1.0.2)
Requirement already satisfied: weasyprint in d:\conda_installation_dont_delete\lib\site-packages (48)
Requirement already satisfied: html5lib>=0.999999999 in d:\conda_installation_dont_delete\lib\site-packages (from weasyprint) (1.0.1)
Requirement already satisfied: setuptools>=39.2.0 in d:\conda_installation_dont_delete\lib\site-packages (from weasyprint) (40.8.0)
Requirement already satisfied: cssselect2>=0.1 in d:\conda_installation_dont_delete\lib\site-packages (from weasyprint) (0.2.2)
Requirement already satisfied: Pyphen>=0.8 in d:\conda_installation_dont_delete\lib\site-packages (from weasyprint) (0.9.5)
Requirement already satisfied: cairocffi>=0.9.0 in d:\conda_installation_dont_delete\lib\site-packages (from weasyprint) (1.1.0)
Requirement already satisfied: cffi>=0.6 in d:\conda_installation_dont_delete\lib\site-packages (from weasyprint) (1.12.2)
Requirement already satisfied: tinycss2>=1.0.0 in d:\conda_installation_dont_delete\lib\site-packages (from weasyprint) (1.0.2)
Requirement already satisfied: CairoSVG>=2.4.0 in d:\conda_installation_dont_delete\lib\site-packages (from weasyprint) (2.4.1)
Requirement already satisfied: six>=1.9 in d:\conda_installation_dont_delete\lib\site-packages (from html5lib>=0.999999999->weasyprint) (1.12.0)
Requirement already satisfied: webencodings in d:\conda_installation_dont_delete\lib\site-packages (from html5lib>=0.999999999->weasyprint) (0.5.1)
Requirement already satisfied: pycparser in d:\conda_installation_dont_delete\lib\site-packages (from cffi>=0.6->weasyprint) (2.19)
Requirement already satisfied: defusedxml in d:\conda_installation_dont_delete\lib\site-packages (from CairoSVG>=2.4.0->weasyprint) (0.5.0)
Requirement already satisfied: pillow in d:\conda_installation_dont_delete\lib\site-packages (from CairoSVG>=2.4.0->weasyprint) (5.4.1)

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import imagekit
import imgkit
%matplotlib inline

In [3]:
excel_sheet=pd.read_excel('Student Gradebook.xlsx',sheet_name=None,usecols=range(0,10))

In [4]:
len(excel_sheet)

2

In [5]:
data_july=excel_sheet['July'].copy()
data_august=excel_sheet['August'].copy()

In [6]:
data_july.head()

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner
0,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Chandrima,0,6.0,10,0
1,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Dipam,0,7.0,10,0
2,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Durga,0,6.0,10,0
3,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Kaushal,0,7.0,10,0
4,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Arya,0,6.0,10,0

In [7]:
data_july=data_july.dropna(how='all',axis=0)

In [8]:
data_july.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 225 entries, 0 to 224
Data columns (total 10 columns):
id                 225 non-null int64
Task               225 non-null object
Date               225 non-null datetime64[ns]
Module             225 non-null object
Type               225 non-null object
Student            225 non-null object
Late Submission    225 non-null int64
Points             225 non-null float64
Total              225 non-null int64
Task Winner        225 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(4)
memory usage: 19.3+ KB

In [9]:
data_august.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 907 entries, 0 to 906
Data columns (total 10 columns):
id                 907 non-null int64
Task               907 non-null object
Date               907 non-null object
Module             907 non-null object
Type               907 non-null object
Student            884 non-null object
Late Submission    907 non-null int64
Points             907 non-null float64
Total              907 non-null int64
Task Winner        907 non-null int64
dtypes: float64(1), int64(4), object(5)
memory usage: 70.9+ KB

# Task column

In [10]:
data_july['Task'].value_counts()

AjKyaUkhada                                 69
Ajkyaukhada                                 68
Linkedin Profile create/update              23
Portfolio home page                         22
Blog on Machine Learning and it's impact    22
Blog on Different data based job roles      21
Name: Task, dtype: int64

AjKyaUkhada has two spellings in july data, need to fix it.

In [11]:
data_july.replace('Ajkyaukhada','AjKyaUkhada',inplace=True)

In [12]:
data_july['Task'].value_counts()

AjKyaUkhada                                 137
Linkedin Profile create/update               23
Portfolio home page                          22
Blog on Machine Learning and it's impact     22
Blog on Different data based job roles       21
Name: Task, dtype: int64

In [13]:
data_august['Task'].value_counts()

AjKyaUkhada                      690
Knowledge Sharing                101
Blog and Project Pages            21
Online Resume                     20
PPT Submission                    20
Blog on Data Analysis Process     19
Video Resume                      18
Github Profile Creation           18
Name: Task, dtype: int64

# Date columns

In [14]:
data_july.head()

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner
0,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Chandrima,0,6.0,10,0
1,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Dipam,0,7.0,10,0
2,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Durga,0,6.0,10,0
3,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Kaushal,0,7.0,10,0
4,1,Linkedin Profile create/update,2019-07-22,Profile Building,"Intent, Creativity,Content",Arya,0,6.0,10,0

In [15]:
data_july.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 225 entries, 0 to 224
Data columns (total 10 columns):
id                 225 non-null int64
Task               225 non-null object
Date               225 non-null datetime64[ns]
Module             225 non-null object
Type               225 non-null object
Student            225 non-null object
Late Submission    225 non-null int64
Points             225 non-null float64
Total              225 non-null int64
Task Winner        225 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(4)
memory usage: 19.3+ KB

In [16]:
data_august.head()

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner
0,0,AjKyaUkhada,2019-08-01 13:26:57,Ritual,Consistency,Sonali,0,2.0,2,0
1,0,AjKyaUkhada,2019-08-01 14:40:42,Ritual,Consistency,Chandrima,0,2.0,2,0
2,0,AjKyaUkhada,2019-08-01 14:44:34,Ritual,Consistency,Purbita,0,2.0,2,0
3,0,AjKyaUkhada,2019-08-01 14:47:05,Ritual,Consistency,Kunal,0,2.0,2,0
4,0,AjKyaUkhada,2019-08-01 14:48:11,Ritual,Consistency,Kaushal,0,2.0,2,0

In [17]:
data_august.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 907 entries, 0 to 906
Data columns (total 10 columns):
id                 907 non-null int64
Task               907 non-null object
Date               907 non-null object
Module             907 non-null object
Type               907 non-null object
Student            884 non-null object
Late Submission    907 non-null int64
Points             907 non-null float64
Total              907 non-null int64
Task Winner        907 non-null int64
dtypes: float64(1), int64(4), object(5)
memory usage: 70.9+ KB

July has date time dtype but august doesn't, let's fix it.

In [18]:
data_july['Date']=pd.to_datetime(data_july['Date'],errors='ignore')

In [19]:
data_august['Date']=pd.to_datetime(data_august['Date'],errors='ignore')

# Module Column

In [20]:
data_july['Module'].value_counts()

Ritual                          137
Profile Building                 45
Introduction to Data Science     43
Name: Module, dtype: int64

In [21]:
data_august['Module'].value_counts()

Ritual              791
Profile Building     77
Machine Learning     20
Data Analytics       19
Name: Module, dtype: int64

No problem with module column, also no null values

# Type column

In [22]:
data_july['Type'].value_counts()

Consistency                                                 137
Knowledge,Understanding,Communication,Analytical Ability     43
Intent, Creativity,Content                                   23
sincerity,Creativity,Design-sense,Writing                    22
Name: Type, dtype: int64

In [23]:
data_august['Type'].value_counts()

Consistency                                   690
Consistency,Curiosity                         101
Creativity, Intent                             21
Creativity,Intent,sincerity                    20
Diligence                                      20
Analysis, communication, sincerity             19
Sincerity,Hard-work                            18
Creativity,Communication,Intent,Confidence     18
Name: Type, dtype: int64

No problem in type column, nothing so to understand

# Student column

We know from above info(), data_august has some null values, let's see to it

In [24]:
data_august[data_august['Student'].isnull()]

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner
108,0,AjKyaUkhada,2019-08-04 02:52:50,Ritual,Consistency,NaN,0,2.0,2,0
124,0,AjKyaUkhada,2019-08-05 04:17:09,Ritual,Consistency,NaN,0,2.0,2,0
127,0,AjKyaUkhada,2019-08-05 15:47:07,Ritual,Consistency,NaN,0,2.0,2,0
147,0,AjKyaUkhada,2019-08-06 16:13:29,Ritual,Consistency,NaN,0,2.0,2,0
178,0,AjKyaUkhada,2019-08-08 00:53:47,Ritual,Consistency,NaN,0,2.0,2,0
182,0,AjKyaUkhada,2019-08-08 15:49:56,Ritual,Consistency,NaN,0,2.0,2,0
222,0,AjKyaUkhada,2019-08-10 04:11:39,Ritual,Consistency,NaN,0,2.0,2,0
233,0,AjKyaUkhada,2019-08-10 17:19:44,Ritual,Consistency,NaN,0,2.0,2,0
246,0,Knowledge Sharing,2019-08-11 02:17:18,Ritual,"Consistency,Curiosity",NaN,0,2.0,2,0
429,0,AjKyaUkhada,2019-08-20 16:36:08,Ritual,Consistency,NaN,0,2.0,2,0
454,0,AjKyaUkhada,2019-08-16 02:29:20,Ritual,Consistency,NaN,0,2.0,2,0
482,0,AjKyaUkhada,2019-08-17 16:52:55,Ritual,Consistency,NaN,0,2.0,2,0
505,0,AjKyaUkhada,2019-08-16 02:30:28,Ritual,Consistency,NaN,0,2.0,2,0
527,0,AjKyaUkhada,2019-08-16 02:33:33,Ritual,Consistency,NaN,0,2.0,2,0
703,0,AjKyaUkhada,2019-08-31 14:33:42,Ritual,Consistency,NaN,0,2.0,2,0
718,0,AjKyaUkhada,2019-09-01 04:23:21,Ritual,Consistency,NaN,0,2.0,2,0
773,0,AjKyaUkhada,2019-09-03 16:18:05,Ritual,Consistency,NaN,0,2.0,2,0
797,0,AjKyaUkhada,2019-09-04 17:13:39,Ritual,Consistency,NaN,0,2.0,2,0
823,0,AjKyaUkhada,2019-09-06 03:21:22,Ritual,Consistency,NaN,0,2.0,2,0
838,0,AjKyaUkhada,2019-09-06 18:00:36,Ritual,Consistency,NaN,0,2.0,2,0
872,0,AjKyaUkhada,2019-09-08 16:14:06,Ritual,Consistency,NaN,0,2.0,2,0
873,0,AjKyaUkhada,2019-09-08 16:15:16,Ritual,Consistency,NaN,0,2.0,2,0
899,0,AjKyaUkhada,2019-09-09 17:38:42,Ritual,Consistency,NaN,0,2.0,2,0

Since, there is no way to correctly fill this data, we are just gonna drop those rows.

In [25]:
data_august.dropna(subset=['Student'],inplace=True)

In [26]:
data_august.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 884 entries, 0 to 906
Data columns (total 10 columns):
id                 884 non-null int64
Task               884 non-null object
Date               884 non-null datetime64[ns]
Module             884 non-null object
Type               884 non-null object
Student            884 non-null object
Late Submission    884 non-null int64
Points             884 non-null float64
Total              884 non-null int64
Task Winner        884 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(4), object(4)
memory usage: 76.0+ KB

In [27]:
np.sort(data_july['Student'].unique())

array(['Anjali', 'Apurwa', 'Arya', 'Bhavna', 'Chandrima', 'Dipam',
       'Durga', 'Kaushal', 'Kunal', 'Prasoon', 'Purbita', 'Roumyak',
       'Shakib', 'Shantanu', 'Sharika', 'Siddhishikha', 'Sonali',
       'Sudhanshu', 'Surabhi', 'Sushree', 'Swaastik', 'Ujjainee',
       'Vishal', 'Wrick'], dtype=object)

In [28]:
np.sort(data_august['Student'].unique())

array(['Anjali', 'Apurwa', 'Arya', 'Bhavna', 'Chandrima', 'Dipam',
       'Durga', 'Kaushal', 'Kunal', 'Nitish', 'Prasoon', 'Purbita',
       'Roumyak', 'Shakib', 'Shantanu', 'Sharika', 'Siddhishikha',
       'Sonali', 'Surabhi', 'Swaastick', 'Swaastik', 'Ujjainee', 'Vishal',
       'Wrick'], dtype=object)

#### Spelling error fixings
From the above 2 rows, we can see that there are different names in the data, Sushree and Siddhishikha is the same person, same for Swaastik and Swaastick.

In [29]:
data_july.replace('Swaastik','Swaastick',inplace=True)
data_august.replace('Swaastik','Swaastick',inplace=True)

In [30]:
data_july.replace('Sushree','Siddhishikha',inplace=True)
data_august.replace('Sushree','Siddhishikha',inplace=True)

In [31]:
np.sort(data_july['Student'].unique())

array(['Anjali', 'Apurwa', 'Arya', 'Bhavna', 'Chandrima', 'Dipam',
       'Durga', 'Kaushal', 'Kunal', 'Prasoon', 'Purbita', 'Roumyak',
       'Shakib', 'Shantanu', 'Sharika', 'Siddhishikha', 'Sonali',
       'Sudhanshu', 'Surabhi', 'Swaastick', 'Ujjainee', 'Vishal', 'Wrick'],
      dtype=object)

In [32]:
np.sort(data_august['Student'].unique())

array(['Anjali', 'Apurwa', 'Arya', 'Bhavna', 'Chandrima', 'Dipam',
       'Durga', 'Kaushal', 'Kunal', 'Nitish', 'Prasoon', 'Purbita',
       'Roumyak', 'Shakib', 'Shantanu', 'Sharika', 'Siddhishikha',
       'Sonali', 'Surabhi', 'Swaastick', 'Ujjainee', 'Vishal', 'Wrick'],
      dtype=object)

The name problem has been resolved.

In [33]:
data_august

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner
0,0,AjKyaUkhada,2019-08-01 13:26:57,Ritual,Consistency,Sonali,0,2.0,2,0
1,0,AjKyaUkhada,2019-08-01 14:40:42,Ritual,Consistency,Chandrima,0,2.0,2,0
2,0,AjKyaUkhada,2019-08-01 14:44:34,Ritual,Consistency,Purbita,0,2.0,2,0
3,0,AjKyaUkhada,2019-08-01 14:47:05,Ritual,Consistency,Kunal,0,2.0,2,0
4,0,AjKyaUkhada,2019-08-01 14:48:11,Ritual,Consistency,Kaushal,0,2.0,2,0
5,0,AjKyaUkhada,2019-08-01 15:05:13,Ritual,Consistency,Durga,0,2.0,2,0
6,0,AjKyaUkhada,2019-08-01 15:55:48,Ritual,Consistency,Ujjainee,0,2.0,2,0
7,0,AjKyaUkhada,2019-08-01 16:08:05,Ritual,Consistency,Dipam,0,2.0,2,0
8,0,AjKyaUkhada,2019-08-01 16:16:30,Ritual,Consistency,Siddhishikha,0,2.0,2,0
9,0,AjKyaUkhada,2019-08-01 16:17:01,Ritual,Consistency,Surabhi,0,2.0,2,0
10,0,AjKyaUkhada,2019-08-01 17:05:15,Ritual,Consistency,Swaastick,0,2.0,2,0
11,0,AjKyaUkhada,2019-08-01 17:29:07,Ritual,Consistency,Sharika,0,2.0,2,0
12,0,AjKyaUkhada,2019-08-01 18:01:53,Ritual,Consistency,Apurwa,0,2.0,2,0
13,0,AjKyaUkhada,2019-08-01 18:21:29,Ritual,Consistency,Shakib,0,2.0,2,0
14,0,AjKyaUkhada,2019-08-01 18:29:24,Ritual,Consistency,Vishal,0,2.0,2,0
15,0,AjKyaUkhada,2019-08-01 19:52:40,Ritual,Consistency,Wrick,0,2.0,2,0
16,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Chandrima,0,16.5,20,0
17,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Dipam,0,14.0,20,0
18,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Durga,0,16.5,20,0
19,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Kaushal,1,16.5,20,0
20,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Arya,1,18.5,20,0
21,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Kunal,0,20.0,20,0
22,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Purbita,0,18.0,20,0
23,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Roumyak,0,20.0,20,1
24,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Shakib,0,17.5,20,0
25,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Shantanu,0,20.0,20,1
26,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Sharika,1,20.0,20,0
27,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Sonali,1,16.5,20,0
28,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Surabhi,0,20.0,20,1
29,5,Video Resume,2019-08-01 00:00:00,Profile Building,"Creativity,Communication,Intent,Confidence",Siddhishikha,0,16.0,20,0
...,...,...,...,...,...,...,...,...,...,...
876,0,Knowledge Sharing,2019-09-08 17:16:22,Ritual,"Consistency,Curiosity",Sharika,0,2.0,2,0
877,0,AjKyaUkhada,2019-09-08 17:39:34,Ritual,Consistency,Surabhi,0,2.0,2,0
878,0,AjKyaUkhada,2019-09-08 17:39:58,Ritual,Consistency,Dipam,0,2.0,2,0
879,0,AjKyaUkhada,2019-09-08 18:05:14,Ritual,Consistency,Shakib,0,2.0,2,0
880,0,AjKyaUkhada,2019-09-08 18:58:19,Ritual,Consistency,Apurwa,0,2.0,2,0
881,0,AjKyaUkhada,2019-09-08 19:13:37,Ritual,Consistency,Bhavna,0,2.0,2,0
882,0,AjKyaUkhada,2019-09-08 19:18:20,Ritual,Consistency,Shantanu,0,2.0,2,0
883,0,AjKyaUkhada,2019-09-09 03:45:18,Ritual,Consistency,Sonali,0,2.0,2,0
884,0,Knowledge Sharing,2019-09-09 04:25:25,Ritual,"Consistency,Curiosity",Dipam,0,2.0,2,0
885,0,AjKyaUkhada,2019-09-09 08:02:49,Ritual,Consistency,Kaushal,0,2.0,2,0
886,0,Knowledge Sharing,2019-09-09 15:56:33,Ritual,"Consistency,Curiosity",Kunal,0,2.0,2,0
887,0,AjKyaUkhada,2019-09-09 16:00:36,Ritual,Consistency,Ujjainee,0,2.0,2,0
888,0,Knowledge Sharing,2019-09-09 16:01:03,Ritual,"Consistency,Curiosity",Surabhi,0,2.0,2,0
889,0,AjKyaUkhada,2019-09-09 16:02:23,Ritual,Consistency,Surabhi,0,2.0,2,0
890,0,Knowledge Sharing,2019-09-09 16:04:59,Ritual,"Consistency,Curiosity",Bhavna,0,2.0,2,0
891,0,AjKyaUkhada,2019-09-09 16:09:54,Ritual,Consistency,Bhavna,0,2.0,2,0
892,0,AjKyaUkhada,2019-09-09 16:30:43,Ritual,Consistency,Purbita,0,2.0,2,0
893,0,AjKyaUkhada,2019-09-09 16:32:51,Ritual,Consistency,Kunal,0,2.0,2,0
894,0,AjKyaUkhada,2019-09-09 16:50:59,Ritual,Consistency,Dipam,0,2.0,2,0
895,0,AjKyaUkhada,2019-09-09 16:54:15,Ritual,Consistency,Durga,0,2.0,2,0
896,0,AjKyaUkhada,2019-09-09 17:07:01,Ritual,Consistency,Chandrima,0,2.0,2,0
897,0,Knowledge Sharing,2019-09-09 17:12:16,Ritual,"Consistency,Curiosity",Kunal,0,2.0,2,0
898,0,AjKyaUkhada,2019-09-09 17:31:12,Ritual,Consistency,Shantanu,0,2.0,2,0
900,0,AjKyaUkhada,2019-09-09 18:15:19,Ritual,Consistency,Shakib,0,2.0,2,0
901,0,AjKyaUkhada,2019-09-09 19:25:21,Ritual,Consistency,Kaushal,0,2.0,2,0
902,0,AjKyaUkhada,2019-09-09 19:27:18,Ritual,Consistency,Vishal,0,2.0,2,0
903,0,AjKyaUkhada,2019-09-09 20:08:02,Ritual,Consistency,Prasoon,0,2.0,2,0
904,0,AjKyaUkhada,2019-09-09 20:08:52,Ritual,Consistency,Prasoon,0,2.0,2,0
905,0,AjKyaUkhada,2019-09-09 20:09:53,Ritual,Consistency,Prasoon,0,2.0,2,0
906,0,AjKyaUkhada,2019-09-09 20:28:38,Ritual,Consistency,Apurwa,0,2.0,2,0

In [34]:
marksaug=data_august.groupby('Student')['Points'].sum().sort_values(ascending=False)
marksjuly=data_july.groupby('Student')['Points'].sum().sort_values(ascending=False)
total_marks=(marksjuly+marksaug).sort_values(ascending=False).reset_index().dropna()

In [35]:
total_marks

         Student  Points
0          Kunal   262.5
1        Surabhi   257.5
2       Ujjainee   256.5
3          Dipam   253.5
4         Shakib   249.5
5        Purbita   248.5
6         Vishal   243.5
7         Sonali   238.5
8      Chandrima   237.0
9        Sharika   236.5
10  Siddhishikha   226.0
11        Apurwa   222.5
12         Durga   220.5
13       Kaushal   214.0
14     Swaastick   212.5
15       Prasoon   200.5
16       Roumyak   182.5
17      Shantanu   171.5
18          Arya   161.5
19        Bhavna   122.0
20         Wrick    62.5
21        Anjali    50.0

In [36]:
css = """
<style type=\"text/css\">
table {
color: #333;
font-family: Helvetica, Arial, sans-serif;
width: 640px;
border-collapse:
collapse; 
border-spacing: 0;
}td, th {
border: 1px solid transparent; /* No more visible border */
height: 30px;
}th {
background: #DFDFDF; /* Darken header a bit */
font-weight: bold;
}td {
background: #FAFAFA;
text-align: center;
}table tr:nth-child(odd) td{
background-color: white;
}
</style>
"""

In [37]:
total_marks.to_html('tester.html')
with open('tester.html','a') as f:
    f.write(css)

In [38]:
imgkitoptions = {"format": "png"}
imgkit.from_file("tester.html",'o.png', options=imgkitoptions)

Loading page (1/2)
Rendering (2/2)
Done

True

In [54]:
a=total_marks.dropna().style.background_gradient(subset=['Points']).hide_index()

In [56]:
fs=a.render()
with open('test.html','a') as f:
    f.write(fs)
    f.write(css)

In [59]:
imgkit.from_file('test.html','testing.png',options=imgkitoptions)

Loading page (1/2)
Rendering (2/2)
Done

True

In [41]:
mydays=data_august[data_august['Task']=='AjKyaUkhada'].groupby('Student')['Points'].count().sort_values(ascending=False).reset_index()

In [42]:
mydays.style.bar(subset=['Points'],color='#d65f5f')

In [43]:
mydays.style.background_gradient(subset=['Points']).hide_index()