In [1]:
import numpy as np
import pandas as pd
from Drive import *
import AnalysisDataCleaner
import SupportFunctions

In [2]:
class Analysis:
    def __init__(self):
        self.fileDownloader()
        self.data=self.data_importer()
        self.data=AnalysisDataCleaner.data_cleaner(self.data)
        self.months=['January','February','March','April','May',\
                     'June','July','August','September','October',\
                     'November','December']
        
    def fileDownloader(self):
        """Downloads Student Gradebook.xlsx from GDrive"""
        try:
            auth=GDriveAuthenticator.GDriveAuthenticator('Drive\\client_secret.json')
            drive=Gdrive.Gdrive(auth.authenticate())
            drive.download()
        except:
            print('Problem in DRIVE API usage')
            raise
            
    def data_importer(self):
        """imports the data and merges into one dataframe and returns it"""
        excel_sheet=pd.read_excel('Student Gradebook.xlsx',sheet_name=None,usecols=range(0,10))
        list_data=[]
        for i in excel_sheet:
            list_data.append(excel_sheet[i])
        #data_july=excel_sheet['July'].copy()
        #data_august=excel_sheet['August'].copy()
        data=pd.concat(list_data).reset_index().drop(columns=['index'])
        #del data_july
        #del data_august
        return data
    
    def total_marks_leaderboard(self,month_name=None):
        """Returns a leaderboard of students containing data such as :- total, task, myday, knowledge sharing marks and
        count of late submissions and task won.
        Arguements:-
        :month_name - [Default: None] if any other value then returns leaderboard for the specified month. Make sure first
        letter of month is capital.

        Returns:
        tuple:- (dataframe object,dataframe with hidden indexes)"""
        data=self.data
        if month_name==None:
            total_marks=data.groupby('Student')['Points'].sum().sort_values(ascending=False).reset_index()
            total_marks.rename(columns={'Points':'Marks'})
            total_marks['Total Marks']=total_marks['Student'].apply(SupportFunctions.get_highest_marks,args=[data])
            total_marks['Task Marks']=total_marks['Student'].apply(SupportFunctions.get_task,args=[data])
            total_marks['MyDay Marks']=total_marks['Student'].apply(SupportFunctions.get_myday,args=[data])
            total_marks['Knowledge Sharing Marks']=total_marks['Student'].apply(SupportFunctions.get_gyan,args=[data])
            total_marks['Late Submissions']=total_marks['Student'].apply(SupportFunctions.get_count_late_submission,args=[data])
            total_marks['Tasks Won']=total_marks['Student'].apply(SupportFunctions.get_count_task_won,args=[data])
            return tuple((total_marks,total_marks.style.hide_index()))
        
        elif month_name in self.months:
            temp=data[data['Month']==month_name]
            total_marks=data[data['Month']==month_name].groupby('Student')['Points'].sum().sort_values(ascending=False).reset_index()
            total_marks.rename(columns={'Points':'Marks'})
            total_marks['Total Marks']=total_marks['Student'].apply(SupportFunctions.get_highest_marks,args=[temp,month_name])
            total_marks['Task Marks']=total_marks['Student'].apply(SupportFunctions.get_task,args=[temp,month_name])
            total_marks['MyDay Marks']=total_marks['Student'].apply(SupportFunctions.get_myday,args=[temp,month_name])
            total_marks['Knowledge Sharing Marks']=total_marks['Student'].apply(SupportFunctions.get_gyan,args=[temp,month_name])
            total_marks['Late Submissions']=total_marks['Student'].apply(SupportFunctions.get_count_late_submission,args=[temp,month_name])
            total_marks['Tasks Won']=total_marks['Student'].apply(SupportFunctions.get_count_task_won,args=[temp,month_name])
            return tuple((total_marks,total_marks.style.hide_index()))
        
        else:
            raise ValueError('month_name has wrong spelling supplied')
            
    def student_task_marks(self,name=None,month_name=None):
        """Returns the task and points of the given student name in DataFrame
        Arguments:
            data: dataframe from which marks need to be extracted
            name: name of the student, only the first name and first letter capital.
            monthWise: default: False
                        set to True if dataframe needed only for a particular month
            month_name: default None.
                        if monthWise True and month_name is name of the month then
                        Dataframe of that particular month is given.

        Returns:
            tuple:- (dataframe object,dataframe with hidden indexes)
        """
        data=self.data
        if name==None:
            raise ValueError('Input a Name')
            
        if month_name!=None:
            if month_name in self.months:
                task_marks=data[(data['Task']!='Knowledge Sharing') & (data['Task']!='AjKyaUkhada') &\
                                     (data['Student']==name) & \
                                     (data['Month']==month_name)]
                
            else:
                raise ValueError('Wrong month spelling given')
                
        elif month_name==None:
            task_marks=data[(data['Task']!='Knowledge Sharing') & (data['Task']!='AjKyaUkhada') &\
                                 (data['Student']==name)]
        task_marks=task_marks[['Date','Month','Task','Student','Points','Total','Late Submission','Task Winner']]
        task_marks['Late Submission'].replace([0,1],['No','Yes'],inplace=True)
        task_marks['Task Winner'].replace([0,1],['No','Yes'],inplace=True)
        return tuple((task_marks,task_marks.style.hide_index()))
    
    def student_myday(self,name=None,month_name=None):
        """Gets the myday marks of the given student
        Arguements:
        name - name of the student
        month_name - [Default: None] name of month to check the dataframe for.

        Returns:
        tuple:- (dataframe object,dataframe with hidden indexes)"""
        data=self.data
        myday='AjKyaUkhada'
        if name==None:
            raise ValueError('Input a name')
        if month_name==None:
            myday_marks=data[(data['Task']==myday) & (data['Student']==name)].groupby('Student')['Points'].\
                sum().sort_values(ascending=False).reset_index()
            myday_marks.rename(columns={'Points':'Myday Marks'},inplace=True)
            myday_count=data[(data['Task']==myday) & (data['Student']==name)].groupby('Student')['Points'].\
                count().sort_values(ascending=False).reset_index()
            myday_count.rename(columns={'Points':'Number of days'},inplace=True)
            myday_data=myday_marks.merge(myday_count,on='Student')
            return tuple((myday_data,myday_data.style.hide_index()))
        elif month_name in self.months:
            myday_marks=data[(data['Month']==month_name) & (data['Task']==myday) &\
                             (data['Student']==name)].groupby('Student')['Points'].\
                            sum().sort_values(ascending=False).reset_index()
            myday_marks.rename(columns={'Points':'Myday Marks'},inplace=True)
            myday_count=data[(data['Month']==month_name) & (data['Task']==myday) & \
                             (data['Student']==name)].groupby('Student')['Points'].\
                            count().sort_values(ascending=False).reset_index()
            myday_count.rename(columns={'Points':'Number of days'},inplace=True)
            myday_data=myday_marks.merge(myday_count,on='Student')
            return tuple((myday_data,myday_data.style.hide_index()))

    def student_knowledge_marks(self,name=None,month_name=None):
        """Gets the knowledge sharing marks of the given student
        Arguements:
        name - name of the student
        month_name - [Default: None] name of month to check the dataframe for.

        Returns:
        tuple:- (dataframe object, dataframe with hidden indexes)
        """
        data=self.data
        knowledge='Knowledge Sharing'
        if name==None:
            raise ValueError('Input a name')
        if month_name==None:
            knowledge_marks=data[(data['Task']==knowledge) & (data['Student']==name)].groupby('Student')['Points'].sum().sort_values(ascending=False).reset_index()
            knowledge_marks.rename(columns={'Points':'Knowledge Sharing Marks'},inplace=True)
            knowledge_count=data[(data['Task']==knowledge) & (data['Student']==name)].groupby('Student')['Points'].count().sort_values(ascending=False).reset_index()
            knowledge_count.rename(columns={'Points':'Number of days'},inplace=True)
            knowledge_data=knowledge_marks.merge(knowledge_count,on='Student')
            return tuple((knowledge_data,knowledge_data.style.hide_index()))
        elif month_name in self.months:
            knowledge_marks=data[(data['Month']==month_name) & (data['Task']==knowledge) & (data['Student']==name)].groupby('Student')['Points'].sum().sort_values(ascending=False).reset_index()
            knowledge_marks.rename(columns={'Points':'Knowledge Sharing Marks'},inplace=True)
            knowledge_count=data[(data['Month']==month_name) & (data['Task']==knowledge) & (data['Student']==name)].groupby('Student')['Points'].count().sort_values(ascending=False).reset_index()
            knowledge_count.rename(columns={'Points':'Number of days'},inplace=True)
            knowledge_data=knowledge_marks.merge(knowledge_count,on='Student')
            return tuple((knowledge_data,knowledge_data.style.hide_index()))
    
    def get_rank(self,name=None,month_name=None):
        """Get the rank of the student, either from the global leaderboard, or from a months leaderboard (if month name
        given)
        :name - name of the student
        :month_name - [Default:None] enter a month to run the function on.

        Returns:
        rank of the student in string format"""
        data=self.data
        
        if name==None:
            raise ValueError('Input a name')

        if month_name==None:
            leaderboard=self.total_marks_leaderboard()[0]
            leaderboard=leaderboard[leaderboard['Student']==name].index
            if len(leaderboard)>0:
                return str(leaderboard[0]+1) #index starts from zero, so index+1 is rank
            else:
                raise Exception('Name wrong.')
        elif month_name in self.months:
            leaderboard=self.total_marks_leaderboard(month_name=month_name)[0]
            leaderboard=leaderboard[leaderboard['Student']==name].index
            if len(leaderboard)>0:
                return str(leaderboard[0]+1) #index starts from zero, so index+1 is rank
            else:
                raise Exception('Wrong name.')
        else:
            raise Exception('Please check spelling of month and try again')
            
    def get_total_marks(self,name=None,month_name=None):
        data=self.data
        if name==None:
            raise ValueError('input name')
        if month_name==None:
            leaderboard=self.total_marks_leaderboard()[0]
            leaderboard=leaderboard[leaderboard['Student']==name]['Points'].values
            if len(leaderboard)>0:
                return str(leaderboard[0]) # returning total marks of the student as string
            else:
                raise Exception('Name wrong.')
        elif month_name in self.months:
            leaderboard=self.total_marks_leaderboard(month_name=month_name)[0]
            leaderboard=leaderboard[leaderboard['Student']==name]['Points'].values
            if len(leaderboard)>0:
                return str(leaderboard[0]) # returning total marks of the student as string
            else:
                raise Exception('Wrong name.')
        else:
            raise Exception('Please check spelling of month and try again')

In [3]:
a=Analysis()

Download. 100

In [4]:
a.total_marks_leaderboard()[0]

,Student,Points,Total Marks,Task Marks,MyDay Marks,Knowledge Sharing Marks,Late Submissions,Tasks Won
0,Kunal,354.5,378,241.5,107.0,6.0,5,4
1,Ujjainee,348.0,380,233.0,105.0,10.0,4,0
2,Shakib,343.0,376,232.0,101.0,10.0,4,3
3,Surabhi,339.0,373,231.0,105.0,3.0,4,1
4,Purbita,337.0,371,231.0,97.0,9.0,6,2
5,Vishal,328.5,365,228.5,98.0,2.0,2,2
6,Chandrima,327.0,379,213.0,103.0,11.0,6,3
7,Sonali,326.5,367,224.5,92.0,10.0,5,2
8,Siddhishikha,326.5,375,226.5,92.0,8.0,8,0
9,Dipam,326.5,374,217.5,105.0,4.0,2,1
10,Durga,326.0,379,222.0,99.0,5.0,6,1
11,Sharika,315.0,352,218.0,95.0,2.0,7,2
12,Apurwa,308.0,354,219.0,89.0,0.0,5,3
13,Kaushal,287.0,342,200.0,84.0,3.0,6,1
14,Swaastick,273.0,312,206.0,67.0,0.0,12,2
15,Roumyak,267.5,314,218.5,49.0,0.0,6,2
16,Shantanu,263.0,293,225.0,38.0,0.0,7,2
17,Prasoon,252.0,293,184.0,62.0,6.0,7,0
18,Arya,207.5,244,183.5,24.0,0.0,9,2
19,Bhavna,205.0,245,170.0,30.0,5.0,3,0
20,Anjali,152.0,179,143.0,9.0,0.0,1,1
21,Wrick,60.5,89,46.5,14.0,0.0,3,0
22,Sudhanshu,8.5,12,6.5,2.0,0.0,1,0

In [5]:
a.total_marks_leaderboard(month_name='September')[0]

,Student,Points,Total Marks,Task Marks,MyDay Marks,Knowledge Sharing Marks,Late Submissions,Tasks Won
0,Durga,125.5,136,99.5,25.0,1.0,3,0
1,Dipam,125.0,128,92.0,29.0,4.0,2,1
2,Siddhishikha,124.5,133,96.5,24.0,4.0,4,0
3,Shakib,123.5,128,90.5,29.0,4.0,2,1
4,Sonali,122.0,129,88.0,30.0,4.0,2,1
5,Chandrima,122.0,129,88.0,29.0,5.0,3,2
6,Kunal,122.0,126,91.0,29.0,2.0,2,2
7,Purbita,120.5,127,88.5,27.0,5.0,3,0
8,Ujjainee,119.5,128,86.5,29.0,4.0,3,0
9,Surabhi,117.5,125,87.5,29.0,1.0,3,0
10,Apurwa,115.5,122,88.5,27.0,0.0,2,2
11,Sharika,112.5,118,89.5,23.0,0.0,3,1
12,Shantanu,111.5,117,89.5,22.0,0.0,3,1
13,Vishal,111.0,117,89.0,22.0,0.0,2,1
14,Kaushal,95.0,104,76.0,18.0,1.0,2,0
15,Roumyak,93.0,102,86.0,7.0,0.0,4,1
16,Swaastick,90.5,94,71.5,19.0,0.0,3,1
17,Prasoon,89.5,97,67.5,18.0,4.0,3,0
18,Bhavna,84.5,89,55.5,24.0,5.0,2,0
19,Arya,60.0,64,46.0,14.0,0.0,1,0
20,Anjali,46.5,49,37.5,9.0,0.0,0,1

In [6]:
a.student_task_marks('Kunal')[0]

,Date,Month,Task,Student,Points,Total,Late Submission,Task Winner
5,22,July,Linkedin Profile create/update,Kunal,8.0,10,No,No
45,23,July,Blog on Machine Learning and it's impact,Kunal,21.0,25,No,No
155,30,July,Blog on Different data based job roles,Kunal,21.5,25,Yes,Yes
195,31,July,Portfolio home page,Kunal,12.0,15,Yes,No
246,1,August,Video Resume,Kunal,20.0,20,No,No
284,8,March,Online Resume,Kunal,18.0,20,No,No
316,8,April,Blog and Project Pages,Kunal,9.5,10,No,No
523,13,August,Github Profile Creation,Kunal,9.5,10,No,Yes
568,14,August,PPT Submission,Kunal,5.0,5,Yes,No
766,23,August,Blog on Data Analysis Process,Kunal,26.0,30,No,No
1162,11,September,Web Scraping,Kunal,10.0,10,No,Yes
1296,17,September,Data from API,Kunal,15.0,15,Yes,No
1328,17,September,Batsman V Bowler,Kunal,20.0,20,No,Yes
1375,17,September,Start/Country Dataset,Kunal,46.0,50,Yes,No

In [7]:
a.student_task_marks('Kunal','September')[0]

,Date,Month,Task,Student,Points,Total,Late Submission,Task Winner
1162,11,September,Web Scraping,Kunal,10.0,10,No,Yes
1296,17,September,Data from API,Kunal,15.0,15,Yes,No
1328,17,September,Batsman V Bowler,Kunal,20.0,20,No,Yes
1375,17,September,Start/Country Dataset,Kunal,46.0,50,Yes,No

In [8]:
a.student_myday('Kunal')[0]

  Student  Myday Marks  Number of days
0   Kunal        107.0              59

In [9]:
a.student_myday('Kunal',month_name='September')[0]

  Student  Myday Marks  Number of days
0   Kunal         29.0              20

In [10]:
a.student_knowledge_marks('Kunal')[0]

  Student  Knowledge Sharing Marks  Number of days
0   Kunal                      6.0               3

In [11]:
a.student_knowledge_marks('Kunal',month_name='August')[0]

  Student  Knowledge Sharing Marks  Number of days
0   Kunal                      4.0               2

In [12]:
a.data

,id,Task,Date,Module,Type,Student,Late Submission,Points,Total,Task Winner,Month,Year,DayName
0,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Chandrima,0,6.0,10,0,July,2019,Monday
1,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Dipam,0,7.0,10,0,July,2019,Monday
2,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Durga,0,6.0,10,0,July,2019,Monday
3,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Kaushal,0,7.0,10,0,July,2019,Monday
4,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Arya,0,6.0,10,0,July,2019,Monday
5,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Kunal,0,8.0,10,0,July,2019,Monday
6,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Prasoon,0,5.0,10,0,July,2019,Monday
7,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Purbita,0,6.0,10,0,July,2019,Monday
8,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Roumyak,0,6.0,10,0,July,2019,Monday
9,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Shakib,0,6.0,10,0,July,2019,Monday
10,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Sharika,1,6.5,10,0,July,2019,Monday
11,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Siddhishikha,0,6.0,10,0,July,2019,Monday
12,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Swaastick,0,7.5,10,1,July,2019,Monday
13,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Surabhi,0,6.0,10,0,July,2019,Monday
14,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Ujjainee,0,7.0,10,0,July,2019,Monday
15,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Vishal,0,6.0,10,0,July,2019,Monday
16,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Wrick,0,6.0,10,0,July,2019,Monday
17,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Apurwa,1,6.0,10,0,July,2019,Monday
18,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Sonali,1,6.5,10,0,July,2019,Monday
19,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Shantanu,0,7.0,10,0,July,2019,Monday
20,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Sudhanshu,1,6.5,10,0,July,2019,Monday
21,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Anjali,0,7.0,10,0,July,2019,Monday
22,1,Linkedin Profile create/update,22,Profile Building,"Intent, Creativity,Content",Bhavna,0,9.0,10,0,July,2019,Monday
23,0,AjKyaUkhada,22,Ritual,Consistency,Prasoon,0,2.0,2,0,July,2019,Monday
24,0,AjKyaUkhada,22,Ritual,Consistency,Kunal,0,2.0,2,0,July,2019,Monday
25,0,AjKyaUkhada,22,Ritual,Consistency,Purbita,0,2.0,2,0,July,2019,Monday
26,0,AjKyaUkhada,22,Ritual,Consistency,Siddhishikha,0,2.0,2,0,July,2019,Monday
27,0,AjKyaUkhada,22,Ritual,Consistency,Durga,0,2.0,2,0,July,2019,Monday
28,0,AjKyaUkhada,22,Ritual,Consistency,Surabhi,0,2.0,2,0,July,2019,Monday
29,0,AjKyaUkhada,22,Ritual,Consistency,Shakib,0,2.0,2,0,July,2019,Monday
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1408,0,Knowledge Sharing,19,Ritual,"Consistency,Curiosity",Dipam,0,1.0,1,0,September,2019,Thursday
1409,0,AjKyaUkhada,19,Ritual,Consistency,Ujjainee,0,1.0,1,0,September,2019,Thursday
1410,0,AjKyaUkhada,19,Ritual,Consistency,Anjali,0,1.0,1,0,September,2019,Thursday
1411,0,AjKyaUkhada,19,Ritual,Consistency,Prasoon,0,1.0,1,0,September,2019,Thursday
1412,0,Knowledge Sharing,19,Ritual,"Consistency,Curiosity",Shakib,0,1.0,1,0,September,2019,Thursday
1413,0,AjKyaUkhada,19,Ritual,Consistency,Shakib,0,1.0,1,0,September,2019,Thursday
1415,0,AjKyaUkhada,19,Ritual,Consistency,Shantanu,0,1.0,1,0,September,2019,Thursday
1416,0,AjKyaUkhada,19,Ritual,Consistency,Bhavna,0,1.0,1,0,September,2019,Thursday
1418,0,AjKyaUkhada,20,Ritual,Consistency,Apurwa,0,1.0,1,0,September,2019,Friday
1419,0,AjKyaUkhada,20,Ritual,Consistency,Siddhishikha,0,1.0,1,0,September,2019,Friday
1420,0,AjKyaUkhada,20,Ritual,Consistency,Arya,0,1.0,1,0,September,2019,Friday
1421,0,AjKyaUkhada,20,Ritual,Consistency,Sonali,0,1.0,1,0,September,2019,Friday
1422,0,Knowledge Sharing,20,Ritual,"Consistency,Curiosity",Sonali,0,1.0,1,0,September,2019,Friday
1423,0,AjKyaUkhada,20,Ritual,Consistency,Kunal,0,1.0,1,0,September,2019,Friday
1424,0,AjKyaUkhada,20,Ritual,Consistency,Chandrima,0,1.0,1,0,September,2019,Friday
1425,0,AjKyaUkhada,20,Ritual,Consistency,Purbita,0,1.0,1,0,September,2019,Friday
1426,0,AjKyaUkhada,20,Ritual,Consistency,Surabhi,0,1.0,1,0,September,2019,Friday
1427,0,AjKyaUkhada,20,Ritual,Consistency,Sharika,0,1.0,1,0,September,2019,Friday
1428,0,AjKyaUkhada,20,Ritual,Consistency,Dipam,0,1.0,1,0,September,2019,Friday
1429,0,AjKyaUkhada,20,Ritual,Consistency,Anjali,0,1.0,1,0,September,2019,Friday
1430,0,AjKyaUkhada,20,Ritual,Consistency,Ujjainee,0,1.0,1,0,September,2019,Friday
1431,0,AjKyaUkhada,20,Ritual,Consistency,Shakib,0,1.0,1,0,September,2019,Friday
1432,0,AjKyaUkhada,20,Ritual,Consistency,Bhavna,0,1.0,1,0,September,2019,Friday
1433,0,AjKyaUkhada,20,Ritual,Consistency,Vishal,0,1.0,1,0,September,2019,Friday
1434,0,AjKyaUkhada,21,Ritual,Consistency,Swaastick,0,1.0,1,0,September,2019,Saturday
1435,0,AjKyaUkhada,21,Ritual,Consistency,Shantanu,0,1.0,1,0,September,2019,Saturday
1436,0,AjKyaUkhada,21,Ritual,Consistency,Apurwa,0,1.0,1,0,September,2019,Saturday
1437,0,AjKyaUkhada,21,Ritual,Consistency,Sonali,0,1.0,1,0,September,2019,Saturday
1438,0,AjKyaUkhada,19,Ritual,Consistency,Roumyak,0,1.0,1,0,September,2019,Thursday
1439,0,AjKyaUkhada,19,Ritual,Consistency,Apurwa,0,1.0,1,0,September,2019,Thursday

In [13]:
a.get_rank(name='Kunal',month_name='September')

'7'